@model ModelCL.Alimento

@{
    ViewBag.Title = "Eliminar Alimento";
}


<h3>¿Está seguro de que desea eliminar este alimento?</h3>
<div>
    <h4>Alimento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Alimento")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlimentoNombre)
        </dd>

        <dt>
            @Html.Label("Imágen")
        </dt>

        <dd>
            <img src="http://localhost:4181/@Html.DisplayFor(model => model.AlimentoImagen)" height="70" width="70" alt="Imágen no encontrada" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlimentoPorcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlimentoPorcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlimentoCarbohidratos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlimentoCarbohidratos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlimentoCalorias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlimentoCalorias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlimentoAzucar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlimentoAzucar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlimentoGrasa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlimentoGrasa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlimentoSodio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlimentoSodio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlimentoGluten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlimentoGluten)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver al listado", "Index")
        </div>
    }
</div>
