@model IEnumerable<ModelCL.Alimento>

@{
    ViewBag.Title = "Alimentos";
}

<p>
    @Html.ActionLink("Crear", "Create")
</p>

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <table class="table">
                <tr>
                    <th>
                        Alimento
                    </th>
                    <th></th>
                    <th>
                        Porción
                    </th>
                    <th>
                        Carbohidratos
                    </th>
                    <th>
                        Calorías
                    </th>
                    <th>
                        Azucar
                    </th>
                    <th>
                        Grasa
                    </th>
                    <th>
                        Sodio
                    </th>
                    <th>
                        Gluten
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AlimentoNombre)
                        </td>
                        <td>
                            <img src="http://localhost:4181/@Html.DisplayFor(modelItem => item.AlimentoImagen)" height="70" width="70" alt="Imagen no encontrada" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AlimentoPorcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AlimentoCarbohidratos)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AlimentoCalorias)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AlimentoAzucar)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AlimentoGrasa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AlimentoSodio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AlimentoGluten)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.AlimentoId }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.AlimentoId })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
