@model IEnumerable<ModelCL.Contenido>

@{
    ViewBag.Title = "Ejercicios";
}


<p>
    @Html.ActionLink("Crear", "Create")
</p>
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">

            <table class="table">
                <tr>
                    <th>
                        Contenido del Titulo
                    </th>
                    <th>
                        Tipo de Ejercicio
                    </th>
                    <th>
                        Categoriade Ejercicio
                    </th>
                    <th>
                        Descripcion del Contenido
                    </th>
                    <th>
                        Imágen
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContenidoTitulo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ejercicio.EjercicioTipo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ejercicio.EjercicioCategoria)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContenidoDescripcion)
                        </td>
                        <td>
                            <img src="http://localhost:4181/@Html.DisplayFor(modelItem => item.Multimedia.Where(m => m.MultimediaOrden == 1).FirstOrDefault().MultimediaUrl)" height="70" width="70" alt="Imágen no encontrada" />
                        </td>
                        <td>
                            @Html.ActionLink("Ver", "Details", new { id = item.ContenidoId }) |
                            @Html.ActionLink("Editar", "Edit", new { id = item.ContenidoId }) |                            
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.ContenidoId })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
