@model ModelCL.Contenido

@{
    ViewBag.Title = "Eliminar Dieta";
}


<h3>¿Está seguro de que desea eliminar esta dieta?</h3>
<div>
    <h4>Dieta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Título")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContenidoTitulo)
        </dd>

        <dt>
            @Html.Label("Descripción")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContenidoDescripcion)
        </dd>

        <dt>
            @Html.Label("Cuerpo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContenidoCuerpo)
        </dd>

        <dt>
            @Html.Label("Calorías por Desayuno")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dieta.DietaDesayunoCalorias)
        </dd>

        <dt>
            @Html.Label("Descripción")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dieta.DietaDesayunoDescripcion)
        </dd>


        <dt>
            @Html.Label("Calorías por Almuerzo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dieta.DietaAlmuerzoCalorias)
        </dd>

        <dt>
            @Html.Label("Descripción")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dieta.DietaAlmuerzoDescripcion)
        </dd>


        <dt>
            @Html.Label("Calorías por Merienda")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dieta.DietaMeriendaCalorias)
        </dd>

        <dt>
            @Html.Label("Descripción")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dieta.DietaMeriendaDescripcion)
        </dd>


        <dt>
            @Html.Label("Calorías por Cena")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dieta.DietaCenaCalorias)
        </dd>

        <dt>
            @Html.Label("Descripción")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dieta.DietaCenaDescripcion)
        </dd>


        <dt>
            @Html.Label("Calorías por Ingesta")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dieta.DietaIngestasCalorias)
        </dd>

        <dt>
            @Html.Label("Descripción")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dieta.DietaIngestasDescripcion)
        </dd>


        <dt>
            @Html.Label("Imagen", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            <img src="http://localhost:4181/@Html.DisplayFor(model => model.Multimedia.First().MultimediaUrl)" height="70" width="70" alt="Imágen no encontrada" />
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver al listado", "Index")
        </div>
    }
</div>
