@model IEnumerable<ModelCL.Contenido>

@{
    ViewBag.Title = "Dietas";
}


<p>
    @Html.ActionLink("Crear", "Create")
</p>
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">

            <table class="table">
                <tr>
                    <th>
                        Título
                    </th>
                    <th>
                        Descripción
                    </th>
                    <th>
                        Calorías por Desayuno
                    </th>
                    <th>
                        Calorías por Almuerzo
                    </th>
                    <th>
                        Calorías por Merienda
                    </th>
                    <th>
                        Calorías por Cena
                    </th>
                    <th>
                        Calorías por Ingesta
                    </th>
                    @*<th>
                        Imagen
                    </th>*@
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContenidoTitulo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContenidoDescripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dieta.DietaDesayunoCalorias)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dieta.DietaAlmuerzoCalorias)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dieta.DietaMeriendaCalorias)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dieta.DietaCenaCalorias)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dieta.DietaIngestasCalorias)
                        </td>
                        @*<td>
                            <img src="http://www.yotecuido.mate/@Html.DisplayFor(modelItem => item.Multimedia.Where(m => m.MultimediaOrden == 1).FirstOrDefault().MultimediaUrl)" height="70" width="70" alt="Imagen no encontrada" />
                        </td>*@
                        <td>
                            @Html.ActionLink("Ver", "Details", new { id = item.ContenidoId }) |
                            @Html.ActionLink("Editar", "Edit", new { id = item.ContenidoId }) |                            
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.ContenidoId })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
