@model ModelCL.Registro

@{
    ViewBag.Title = "Actividad | Eliminar";
}

<h2>Eliminar registro</h2>

<h3>¿Esta seguro/a de que desea eliminar este registro de actividad?</h3>
<div>
    <h4>Actividad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Persona")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona.nombreCompleto)
        </dd>

        <dt>
            @Html.Label("Fecha")
        </dt>

        <dd>
            @Model.RegistroFchHora.ToString("dd MMM yyyy")
        </dd>

        <dt>
            @Html.Label("Actividad/Ejercicio")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actividad.Ejercicio.Contenido.ContenidoTitulo)
        </dd>

        <dt>
            @Html.Label("Tiempo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actividad.ActividadTiempo)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
