@model IEnumerable<ModelCL.Registro>

@{
    ViewBag.Title = "Registros de actividades";
}

@if (TempData["PostMessage"] != null)
{
    <div id="PopUpPostMessage" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Calorías quemadas</h4>
                </div>
                <div class="modal-body">
                    @TempData["PostMessage"]
                </div>
            </div>
        </div>
    </div>
}


<h2>Registros de Actividades</h2>

<p>
    @Html.ActionLink("Nuevo registro", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Fecha")
        </th>
        <th>
            @Html.Label("Actividad/Ejercicio")
        </th>
        <th>
            @Html.Label("Tiempo")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.RegistroFchHora.ToString("dd MMM yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Actividad.Ejercicio.Contenido.ContenidoTitulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Actividad.ActividadTiempo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.RegistroId }) |
            <a href="#" onclick="abrirModalDelete(@item.RegistroId)">Eliminar</a>
        </td>
    </tr>
}

</table>



<!-- Modal -->
<div class="modal fade" id="PopUpConfirmationDeleteMsg" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">¡Atención!</h4>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas eliminar este registro de actividad?</p>
            </div>
            <div class="modal-footer">
                <button onclick="confDel()" type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                <button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
    <span id="idReg"></span>
</div>

@section scripts{
    <script>
        $('#PopUpPostMessage').modal({
            show: 'true'
        });

        function abrirModalDelete(idReg) {
            $('#PopUpConfirmationDeleteMsg').modal({
                show: 'true'
            });
            $("#idReg").text(idReg);
        }

        function confDel() {
            location.href = "/registros/actividad/eliminar?id=" + $("#idReg").text();
        }
    </script>
}
