@model IEnumerable<ModelCL.Registro>

@{
    ViewBag.Title = "Registros de actividades";
}

<h2>Registros de Actividades</h2>

<p>
    @Html.ActionLink("Nuevo registro", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Fecha")
        </th>
        <th>
            @Html.Label("Actividad/Ejercicio")
        </th>
        <th>
            @Html.Label("Tiempo")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.RegistroFchHora.ToString("dd MMM yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Actividad.Ejercicio.Contenido.ContenidoTitulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Actividad.ActividadTiempo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.RegistroId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.RegistroId })
        </td>
    </tr>
}

</table>
