@model ModelCL.Contenido

@{
    ViewBag.Title = "Rutina | Ver";
    var i = 0;
}

<div class="publicidadTop"><small>Publicidad</small></div>

<div class="row" style="margin-bottom: 30px;">
    <p>
        @Html.ActionLink("Volver al listado", "Index")
    </p>

    <div class="col-sm-6 col-sm-offset-3">
        <div class="row">
            <div class="col-sm-12">
                <h3 style="float: left; margin-right: 5px">@Html.DisplayFor(model => model.ContenidoTitulo)</h3>
                @if (ViewBag.idUsu != null && Model.UsuarioAutor != null && ViewBag.idUsu == Model.UsuarioAutor.UsuarioId)
                {
                    <span style="float: left; margin: 27px 0 10px;">
                        @Html.ActionLink("Editar", "Edit", new { id = Model.ContenidoId }) |
                    </span>
                    <span style="float: left; margin: 27px 0 10px 5px;">
                        <a href="#" onclick="abrirModalDelete(@Model.ContenidoId)">Eliminar</a>
                    </span>
                }
            </div>
        </div>

        <small>@Model.ContenidoCantVisitas visitas</small>

        <br /><br />

        <p>@Model.ContenidoDescripcion</p>
        <br />

        @foreach (var item in Model.Rutina.Ejercicio.OrderBy(e => e.Contenido.ContenidoTitulo))
        {
            <h4>@Html.DisplayFor(modelItem => item.Contenido.ContenidoTitulo)</h4>
            <p>@Html.Raw(item.Contenido.ContenidoCuerpo.Replace(Environment.NewLine, "<br/>"))</p>
            <h5>Detalles:</h5>
            <ul style="margin-left: 50px;">
                <li>@item.EjercicioTipo</li>
                <li>@item.EjercicioCategoria</li>
                <li>@item.EjercicioCaloriasPorMinuto Calorías por minuto</li>
            </ul>
            <br />
        }

    </div>
</div>

<div id="comentarios">
    @Html.Action("_Index", "Comentarios", new { idContenido = Model.ContenidoId })
</div>

<div id="crear_comentario">
    @if (Request.Cookies[FormsAuthentication.FormsCookieName] != null)
    {

        @Html.Action("_Create", "Comentarios", new { idContenido = Model.ContenidoId })

    }
    else
    {
        <a href="/login">Inicia sesión para comentar</a>
    }
</div>



<!-- Modal -->
<div class="modal fade" id="PopUpConfirmationDeleteMsg" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">¡Atención!</h4>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas eliminar esta rutina?</p>
            </div>
            <div class="modal-footer">
                <button onclick="confDel()" type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                <button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
    <span id="idCont"></span>
</div>

@section scripts{
    <script>
        function abrirModalDelete(idCont) {
            $('#PopUpConfirmationDeleteMsg').modal({
                show: 'true'
            });
            $("#idCont").text(idCont);
        }

        function confDel() {
            location.href = "/rutinas/eliminar?id=" + $("#idCont").text();
        }
    </script>
}