@model ModelCL.Contenido

@{
    ViewBag.Title = "Rutina | Ver";
}

<h2>Ver Rutina</h2>

<div>
    <h4>Rutina</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Nombre")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContenidoTitulo)
        </dd>

        <dt>
            @Html.Label("Descripción")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContenidoDescripcion)
        </dd>

        <dt>
            @Html.Label("Contenido")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContenidoCuerpo)
        </dd>

        <dt>
            @Html.Label("Ejercicios")
        </dt>

        <dd>
            <ul>
                @foreach (var item in Model.Rutina.Ejercicio.OrderBy(e => e.Contenido.ContenidoTitulo))
                {
                    <li>@Html.DisplayFor(modelItem => item.Contenido.ContenidoTitulo)</li> 
                }
            </ul>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ContenidoId }) |
    @Html.ActionLink("Volver al listado", "Index")
</p>

<div id="comentarios">
    @Html.Action("_Index", "Comentarios", new { idContenido = Model.ContenidoId })
</div>

<div id="crear_comentario">
    @if (Request.Cookies[FormsAuthentication.FormsCookieName] != null)
    {

        @Html.Action("_Create", "Comentarios", new { idContenido = Model.ContenidoId })

    }
    else
    {
        <a href="/login">Inicia sesión para comentar</a>
    }
</div>