@model IEnumerable<ModelCL.Contenido>

@{
    ViewBag.Title = "Artículos y Noticias -";
}

<h2>Artículos y Noticias</h2>

<div id="Center">
    <ul id="waterfall"></ul>
</div>

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Contenido.ContenidoTitulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contenido.ContenidoDescripcion)
        </th>
        <th>
            Image
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Contenido.ContenidoTitulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contenido.ContenidoDescripcion)
        </td>
        <td>
            <img src="~/Resource/Image/@Html.DisplayFor(modelItem => item.Contenido.Multimedia.FirstOrDefault().MultimediaUrl)" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ArticuloId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ArticuloId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ArticuloId })
        </td>
    </tr>
}

</table>*@

@section Scripts {
    <script type="text/javascript" src="~/Scripts/newWaterfall.js"></script>
    <script type="text/javascript">
        // 文档加载完毕后执行 - Una vez cargado el documento, se ejecutará
        $(document).ready(function () {
            $('#waterfall').NewWaterfall({
                width: 360,
                delay: 100,
            });
        });

        // 自动加载更多 - Cargar más
        function random(min, max) {
            return min + Math.floor(Math.random() * (max - min + 1))
        }

        var loading = false;
        var dist = 500;
        var num = 0;
        var articulo = [];
        var articuloId = [];
        var articuloImgId = [];
        var articuloHeight = 0;

        @foreach (var item in Model) {

            @:articulo.push('<div id="@item.ContenidoId' + 'Div"><a href="details?id=@item.ContenidoId"><img src="/@item.Multimedia.FirstOrDefault().MultimediaUrl" id="@item.ContenidoId' + 'Img" /><div><h4>@item.ContenidoTitulo.ToString()</h4><p>@Html.Raw(item.ContenidoDescripcion.ToString())</p></div></a></div>');
            @:articuloId.push('"@item.ContenidoId' + 'Div"');
            @:articuloImgId.push('\'#@item.ContenidoId' + 'Img\'');

        }

        setInterval(function ()
        {
            if ($(window).scrollTop() >= $(document).height() - $(window).height() - dist && !loading && articulo[num] != null)
            {
                // 表示开始加载 - La carga se está iniciando
                loading = true;

                // 加载内容 - Carga el contenido
                $("#waterfall").append("<li>" + articulo[num] + "</li>");
                //articuloHeight = $(articuloImgId[num]).height();

                //document.getElementById(articuloId[num]).style.height = random(250, 600) + "px";
                num++;

                // 表示加载结束 - Finaliza la carga
                loading = false;
            }
        }, 60);
    </script>
}

@section style {
<style type="text/css">
    #waterfall {
        margin: 10px;
        overflow: hidden;
    }

        #waterfall.min {
            margin: 0;
        }

        #waterfall li div img {
            width: 100%;
        }

        #waterfall li div > a {
            text-decoration: none;
        }

        #waterfall li div a > div {
            position: absolute;
            padding: 15px;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.6);
            color: #f3f3f3;
            width: 100%;
        }

        #waterfall li div a p {
            font-size: 12pt;
            height: 0;
            margin: 0;
            overflow: hidden;
            transition: .6s;
        }

        #waterfall li div a:hover p {
            height: auto;
            margin: 0 0 10px;
        }

        #waterfall li {
            left: 0;
            top: 0;
            opacity: 0;
            z-index: 0;
            transform: translateY(100px);
        }

            #waterfall li:hover {
                z-index: 1;
            }

            #waterfall li.show {
                opacity: 1;
                transform: translateY(0);
                transition: all 0.3s, top 1s;
            }

            #waterfall li > div {
                transform: translateY(0px);
                color: rgba(0, 0, 0, 0.6);
                font-size: 32px;
                border-radius: 6px;
                margin: 10px;
                background: #e6e6e6;
                transition: all 0.5s;
                overflow: hidden;
            }

                #waterfall li > div:hover {
                    transform: translateY(-10px);
                    -webkit-box-shadow: 0 6px 20px 3px rgba(0,0,0,.4);
                    box-shadow: rgba(0,0,0,.4) 0 6px 20px 3px;
                    transition: all 0.3s;
                }

            #waterfall li.min > div {
                margin: 0;
                transform: none;
                border: none;
                border-radius: 0;
                box-shadow: none;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            }

                #waterfall li.min > div:hover {
                    transform: none;
                    border: none;
                    border-radius: 0;
                    box-shadow: none;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                }
</style>    
}
