<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/ico4.ico">
    @if (ViewBag.Title == null) { <title>YoTeCuido</title> } else { <title>@ViewBag.Title • YoTeCuido</title> }
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700" rel="stylesheet">
    @RenderSection("style", required: false)
</head>
<body onfocus="getUsuPos()" onresize="getUsuPos()">

    <div id="out" onclick="closeNav()"></div>

    <header>

        <!-- sidenav -->
        <nav id="mySidenav" class="sidenav">
            <ul class="ul-sidenav">
                @if ((Request.Cookies[FormsAuthentication.FormsCookieName] != null) && (Request.Cookies["cookieUsu"] != null))
                {
                    <li class="liHi">
                        <a disabled class="opSidnav typewrite" data-period="3000" data-type='[ "", "Hola @Request.Cookies["cookieUsu"]["UsuNom"]", "¿Cómo estás?", "¿Qué tal tu día?" ]'>
                            <span class="wrap"></span>
                        </a>
                    </li>
                }
                else
                {
                    <li class="liHi">
                        <a disabled class="opSidnav typewrite" data-period="3000" data-type='[ "Hola, Soy Lucy", "¿Es tu primera vez aquí?", "Yo puedo cuidarte", "¿Por qué no te creas una cuenta?" ]'>
                            <span class="wrap"></span>
                        </a>
                    </li>
                }
                <li>
                    <a href="/articulos/index" class="opSidnav">Noticias</a>
                </li>
                <li>
                    <a href="#subMenu-Registros" class="opSidnav" data-toggle="collapse">Registro</a>
                    <div id="subMenu-Registros" class="panel-collapse collapse">
                        <ul class="subMenu-ul">
                            <li><a href="/registros/comida/index">Comida</a></li>
                            <li><a href="/registros/agua/index">Agua</a></li>
                            <li><a href="/registros/actividad/index">Actividad</a></li>
                            <li><a href="/registros/medicacion/index">Medicina</a></li>
                            <li><a href="/registros/peso/index">Peso</a></li>
                            <li><a href="/registros/control/index">Control</a></li>
                            <li><a href="/registros/control_diabetico/index">Control Diabético</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="/alimentos/informacion_nutricional" class="opSidnav">Información Nutricional</a>
                </li>
                <li>
                    <a href="/dietas/index" class="opSidnav">Dietas</a>
                </li>
                <li>
                    <a href="/recetas/index" class="opSidnav">Recetas</a>
                </li>
                <li>
                    <a href="#" class="opSidnav">Mapas</a>
                </li>
                <li>
                    <a href="/ejercicios/index" class="opSidnav">Ejercicio</a>
                </li>
                <li>
                    <a href="#" class="opSidnav">Calculadoras</a>
                </li>
                <li>
                    <a href="#" class="opSidnav">Calendario</a>
                </li>
                <li>
                    <a href="#" class="opSidnav">Historial Clínico</a>
                </li>
                <li style="border: 0;">
                    <div class="socialButton">
                        <ul>
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-google"></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>

        <!-- topnav -->
        <nav id="menuContainer">
            <div id="menu">
                <ul id="myTopnav" class="topnav">
                    @*Cruz*@
                    <li class="topnavli">
                        <a href="javascript:void(0)" class="cruz">
                            <div class="barras">
                                <div class="barra1"></div>
                                <div class="barra2"></div>
                            </div>
                        </a>
                    </li>

                   
                    
                    @*Registro*@
                    <li class="topnavli dropdown2 arrow">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdownS">Registro</a>
                        <ul class="dropdown-menuS nav-list list-inline dropdown-menuExtencive">
                            <li class="userLi"><a href="/registros/comida/index"><img src="~/resources/Oficial/comida.png" /><p>Comida</p></a></li>
                            <li class="userLi"><a href="/registros/agua/index"><img src="~/resources/Oficial/agua.png" /><p>Agua</p></a></li>
                            <li class="userLi"><a href="/registros/actividad/index"><img src="~/resources/Oficial/actividad.png" /><p>Actividad</p></a></li>
                            <li class="userLi"><a href="/registros/medicacion/index"><img src="~/resources/Oficial/medicina.png" /><p>Medicina</p></a></li>
                            <li class="userLi"><a href="/registros/peso/index"><img src="~/resources/Oficial/peso.png" /><p>Peso</p></a></li>
                            <li class="userLi"><a href="/registros/control/index"><img src="~/resources/Oficial/control.png" /><p>Control</p></a></li>
                            <li class="userLi"><a href="/registros/control_diabetico/index"><img src="~/resources/Oficial/diabetes.png" /><p>Control Diabético</p></a></li>
                        </ul>

                    </li>

                    

                    <li class="topnavli"><a href="/articulos/index">Noticias</a></li>

                    
                    
                    @*Alimentos*@
                    <li class="topnavli dropdown1 arrow">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdownS">Alimentación</a>
                        <ul class="dropdown-menuS nav-list list-inline">
                            <li class="userLi"><a href="/recetas/index"><img src="~/resources/Oficial/receta.png" /><p>Recetas</p></a></li>
                            <li class="userLi"><a href="/alimentos/informacion_nutricional"><img src="~/resources/Oficial/infnut.png" /><p>Inf. Nutricional</p></a></li>
                            <li class="userLi"><a href="/dietas/index"><img src="~/resources/Oficial/dieta.png" /><p>Dieta</p></a></li>
                        </ul>

                    </li>

                    <li class="topnavli"><a href="/" class="logoBanner"></a></li>

                    @*Ejercicio*@
                    <li class="topnavli dropdown2 arrow">
                        
                        <a href="#" class="dropdown-toggle" data-toggle="dropdownS">Ejercicio</a>
                        <ul class="dropdown-menuS nav-list list-inline">
                            <li class="userLi"><a href="/programas/index"><img src="~/resources/Oficial/programa.png" /><p>Programas</p></a></li>
                            <li class="userLi"><a href="/rutinas/index"><img src="~/resources/Oficial/rutina.png" /><p>Rutinas</p></a></li>
                            <li class="userLi"><a href="/ejercicios/index"><img src="~/resources/Oficial/ejercicio.png" /><p>Ejercicios</p></a></li>
                        </ul>
                    </li>

                    <li class="topnavli"><a href="#">Mapa</a></li>

                    @*Calculadoras*@
                    <li class="topnavli dropdown2 arrow">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdownS">Calculadoras</a>
                        <ul class="dropdown-menuS nav-list list-inline">
                            <li class="userLi"><a href="/calculadoras/IMC"><img src="~/resources/Oficial/imc.png" title="Índice de Masa Corporal" /><p>IMC</p></a></li>
                            <li class="userLi"><a href="/calculadoras/TMB"><img src="~/resources/Oficial/tmb.png" title="Tasa Metabólica Basal" /><p>TMB</p></a></li>
                        </ul>
                    </li>


                    @*UsuIco*@
                    <li class="topnavli arrow" id="liUsu">

                        <a href="#" class="user dropdown-toggle" data-toggle="dropdown"></a>
                        <ul id="ulUsu" class="dropdown-menu">
                            <li class="userLi" style="border:none;">
                                @if ((Request.Cookies[FormsAuthentication.FormsCookieName] != null) && (Request.Cookies["cookieUsu"] != null))
                                {
                                    <h3 class="userTitle">@Request.Cookies["cookieUsu"]["UsuNom"]</h3>
                                }
                                else
                                {
                                    <h3 class="userTitle">Hola</h3>
                                }
                            </li>

                            @if (Request.Cookies[FormsAuthentication.FormsCookieName] != null)
                            {
                                <li class="dropdown-submenu userLiSubMenu" id="leti">
                                    @*@Html.Action("_Personas", "Home")*@
                                </li>
                            }

                            <li class="userLi"><a href="#">Notificaciones</a></li>
                            <li class="userLi">
                                @Html.ActionLink("Datos clínicos", "Datos_Clinicos", "Personas")
                            </li>
                            <li class="userLi"><a href="#">Configuración</a></li>
                            <li class="userLi">
                                @if (Request.Cookies[FormsAuthentication.FormsCookieName] != null)
                                {
                                    @Html.ActionLink("Salir", "Logout", "Usuarios")
                                }
                                else
                                {
                                    @Html.ActionLink("Ingresar", "Login", "Usuarios")
                                }
                            </li>
                        </ul>

                    </li>
                </ul>
            </div>
        </nav>
    </header>

    @if (ViewBag.Title == null)
    {
        <div class="sliderContainer">
            <div class="slider single-item">
                <div><h1 style="margin-top:230px;">YoTeCuido</h1></div>
                <div class="slideAccordian">
                    <div class="comidasSlide">
                        <div class="auxContAccordianAlt">
                            <div class="ContAccordianAlt">
                                <h1>¡Disfruta las 4 comidas del día!</h1>
                                <h4>Esencial para una buena alimentación.</h4>
                            </div>
                        </div>
                        <div class="accordian">
                            <ul>
                                <li class="firstLiAccordian">
                                    <a href="/recetas/index" style="background-image:url(resources/oficial/yotecuido.jpg);"></a>
                                </li>
                                <li>
                                    <div class="image_title">
                                        <a href="/recetas/index">Desayuno</a>
                                    </div>
                                    <a href="/recetas/index" style="background-image:url(resources/oficial/desayuno.jpg)"></a>
                                </li>
                                <li>
                                    <div class="image_title">
                                        <a href="/recetas/index">Almuerzo</a>
                                    </div>
                                    <a href="/recetas/index" style="background-image:url(resources/oficial/almuerzo.jpg)"></a>
                                </li>
                                <li>
                                    <div class="image_title">
                                        <a href="/recetas/index">Merienda</a>
                                    </div>
                                    <a href="/recetas/index" style="background-image:url(resources/oficial/merienda.jpg)"></a>
                                </li>
                                <li>
                                    <div class="image_title">
                                        <a href="/recetas/index">Cena</a>
                                    </div>
                                    <a href="/recetas/index" style="background-image:url(resources/oficial/cena.jpg)"></a>
                                </li>
                            </ul>
                        </div>
                        <script type="text/javascript">
                            var x = document.getElementsByClassName("image_title");
                            var i;
                            for (i = 0; i < x.length; i++) {
                                x[i].style.width = window.innerWidth + "px";
                            }
                        </script>
                    </div>
                </div>
                <div>
                    <div class="container">
                        <div class="row">
                            <svg viewBox="0 0 960 300">
                                <symbol id="s-text">
                                    <text text-anchor="middle" x="50%" y="80%">Lucy </text>
                                </symbol>
                                <g class="g-ants">
                                    <use xlink:href="#s-text" class="text-copy"></use>
                                    <use xlink:href="#s-text" class="text-copy"></use>
                                    <use xlink:href="#s-text" class="text-copy"></use>
                                    <use xlink:href="#s-text" class="text-copy"></use>
                                    <use xlink:href="#s-text" class="text-copy"></use>
                                </g>
                            </svg>
                        </div>

                        <div class="row">
                            <address>
                                Tu asistente personal
                            </address>
                        </div>
                    </div>
                </div>
                <div><h1 style="margin-top:230px;">Salud</h1></div>
            </div>
            <div class="progressBarContainer">
                <div>
                    <span data-slick-index="0" class="progressBar"></span>
                </div>
                <div>
                    <span data-slick-index="1" class="progressBar"></span>
                </div>
                <div>
                    <span data-slick-index="2" class="progressBar"></span>
                </div>
                <div>
                    <span data-slick-index="3" class="progressBar"></span>
                </div>
            </div>
        </div>
    }

    @RenderSection("subnav", required: false)

    <!-- body -->
    <div class="container body-content">
        
        @RenderBody()
        
        <!-- footer -->
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Lucy</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/myScript")

    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(document).ready(function () {
            $('.dropdown-submenu').on("click", function (e) {
                //$(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
            });

            $('.userLi h3').on("click", function (e) {
                e.stopPropagation();
                e.preventDefault();
            });

            $("#leti").load("/Home/_Personas");
            
        });

        function changePersona(PerId, PerNom, PerApe) {
            $('.userLiSubMenu ul').attr('style', 'display: none');
            $('.userLiSubMenu a.btn-default').text(PerNom + " " + PerApe);
            $.ajax({
                dataType: 'json',
                data: {
                    PerId: PerId
                },
                type: 'POST',
                url: "/home/selPersona"
            });
        }
        
    </script>


    @*@if (ViewBag.ReloadHome != null && ViewBag.ReloadHome == true)
    {
        <script type="text/javascript">
            location.href = "/?reloadHome=false";
        </script>
    }
    else
    {
        <script type="text/javascript">
            if (window.location.href.indexOf("reloadHome") > -1) {
                $(".logoBanner").on("click", function () {
                    location.href = "/";
                });
                $(".logoBanner").trigger("click");
            }
        </script>
    }*@

</body>
</html>