<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/ico4.ico">
    @if (ViewBag.Title == null) { <title>YoTeCuido</title> } else { <title>@ViewBag.Title • YoTeCuido</title> }
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700" rel="stylesheet">
    @RenderSection("style", required: false)
</head>
<body onfocus="getUsuPos()" onresize="getUsuPos()">

    <div id="out" onclick="closeNav()"></div>

    <header>

        <!-- sidenav -->
        <nav id="mySidenav" class="sidenav">
            <ul class="ul-sidenav">
                @if ((Request.Cookies[FormsAuthentication.FormsCookieName] != null) && (Request.Cookies["cookieUsu"] != null))
                {
                    <li class="liHi">
                        <a disabled class="opSidnav typewrite" data-period="3000" data-type='[ "", "Hola @Request.Cookies["cookieUsu"]["UsuNom"]", "¿Cómo estás?", "¿Qué tal tu día?" ]'>
                            <span class="wrap"></span>
                        </a>
                    </li>
                }
                else
                {
                    <li class="liHi">
                        <a disabled class="opSidnav typewrite" data-period="3000" data-type='[ "Hola, Soy Lucy", "¿Es tu primera vez aquí?", "Yo puedo cuidarte", "¿Por qué no te creas una cuenta?" ]'>
                            <span class="wrap"></span>
                        </a>
                    </li>
                }
                <li>
                    <a href="/articulos/listado" class="opSidnav">Noticias</a>
                </li>
                <li>
                    <a href="#subMenu-Registros" class="opSidnav" data-toggle="collapse">Registro</a>
                    <div id="subMenu-Registros" class="panel-collapse collapse">
                        <ul class="subMenu-ul">
                            <li><a href="/registros/comida/listado">Comida</a></li>
                            <li><a href="/registros/agua/listado">Agua</a></li>
                            <li><a href="/registros/actividad/listado">Actividad</a></li>
                            <li><a href="/registros/medicacion/listado">Medicina</a></li>
                            <li><a href="/registros/peso/listado">Peso</a></li>
                            <li><a href="/registros/control/listado">Control</a></li>
                            <li><a href="/registros/control_diabetico/listado">Control Diabético</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="/alimentos/listado" class="opSidnav">Información Nutricional</a>
                </li>
                <li>
                    <a href="/dietas/listado" class="opSidnav">Dietas</a>
                </li>
                <li>
                    <a href="/recetas/listado" class="opSidnav">Recetas</a>
                </li>
                <li>
                    <a href="/mapa" class="opSidnav">Mapa</a>
                </li>
                <li>
                    <a href="#subMenu-Ejercicios" class="opSidnav" data-toggle="collapse">Ejercicio</a>
                    <div id="subMenu-Ejercicios" class="panel-collapse collapse">
                        <ul class="subMenu-ul">
                            <li><a href="/programas/listado">Programas</a></li>
                            <li><a href="/rutinas/listado">Rutinas</a></li>
                            <li><a href="/ejercicios/listado">Ejercicios</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#subMenu-Calculadoras" class="opSidnav" data-toggle="collapse">Calculadoras</a>
                    <div id="subMenu-Calculadoras" class="panel-collapse collapse">
                        <ul class="subMenu-ul">
                            <li><a href="/calculadoras/imc">IMC</a></li>
                            <li><a href="/calculadoras/tmb">TMB</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#" class="opSidnav">Calendario</a>
                </li>
                <li>
                    <a href="/historial_clinico" class="opSidnav">Historial Clínico</a>
                </li>
                <li style="border: 0;">
                    <div class="socialButton">
                        <ul>
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-google"></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>

        <!-- topnav -->
        <nav id="menuContainer">
            <div id="menu">
                <ul id="myTopnav" class="topnav">
                    @*Cruz*@
                    <li class="topnavli">
                        <a href="javascript:void(0)" class="cruz">
                            <div class="barras">
                                <div class="barra1"></div>
                                <div class="barra2"></div>
                            </div>
                        </a>
                    </li>

                   
                    
                    @*Registro*@
                    <li class="topnavli dropdown2 arrow">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdownS">Registro</a>
                        <ul class="dropdown-menuS nav-list list-inline dropdown-menuExtencive">
                            <li class="userLi"><a href="/registros/comida/listado"><img src="~/resources/Oficial/comida.png" /><p>Comida</p></a></li>
                            <li class="userLi"><a href="/registros/agua/listado"><img src="~/resources/Oficial/agua.png" /><p>Agua</p></a></li>
                            <li class="userLi"><a href="/registros/actividad/listado"><img src="~/resources/Oficial/actividad.png" /><p>Actividad</p></a></li>
                            <li class="userLi"><a href="/registros/medicacion/listado"><img src="~/resources/Oficial/medicina.png" /><p>Medicina</p></a></li>
                            <li class="userLi"><a href="/registros/peso/listado"><img src="~/resources/Oficial/peso.png" /><p>Peso</p></a></li>
                            <li class="userLi"><a href="/registros/control/listado"><img src="~/resources/Oficial/control.png" /><p>Control</p></a></li>
                            <li class="userLi"><a href="/registros/control_diabetico/listado"><img src="~/resources/Oficial/diabetes.png" /><p>Control Diabético</p></a></li>
                        </ul>

                    </li>

                    

                    <li class="topnavli"><a href="/articulos/listado">Noticias</a></li>

                    
                    
                    @*Alimentos*@
                    <li class="topnavli dropdown1 arrow">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdownS">Alimentación</a>
                        <ul class="dropdown-menuS nav-list list-inline">
                            <li class="userLi"><a href="/recetas/listado"><img src="~/resources/Oficial/receta.png" /><p>Recetas</p></a></li>
                            <li class="userLi"><a href="/alimentos/listado"><img src="~/resources/Oficial/infnut.png" /><p>Inf. Nutricional</p></a></li>
                            <li class="userLi"><a href="/dietas/listado"><img src="~/resources/Oficial/dieta.png" /><p>Dieta</p></a></li>
                        </ul>

                    </li>

                    <li class="topnavli"><a href="/" class="logoBanner"></a></li>

                    @*Ejercicio*@
                    <li class="topnavli dropdown2 arrow">
                        
                        <a href="#" class="dropdown-toggle" data-toggle="dropdownS">Ejercicio</a>
                        <ul class="dropdown-menuS nav-list list-inline">
                            <li class="userLi"><a href="/programas/listado"><img src="~/resources/Oficial/programa.png" /><p>Programas</p></a></li>
                            <li class="userLi"><a href="/rutinas/listado"><img src="~/resources/Oficial/rutina.png" /><p>Rutinas</p></a></li>
                            <li class="userLi"><a href="/ejercicios/listado"><img src="~/resources/Oficial/ejercicio.png" /><p>Ejercicios</p></a></li>
                        </ul>
                    </li>

                    <li class="topnavli"><a href="/mapa">Mapa</a></li>

                    @*Calculadoras*@
                    <li class="topnavli dropdown2 arrow">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdownS">Calculadoras</a>
                        <ul class="dropdown-menuS nav-list list-inline">
                            <li class="userLi"><a href="/calculadoras/IMC"><img src="~/resources/Oficial/imc.png" title="Índice de Masa Corporal" /><p>IMC</p></a></li>
                            <li class="userLi"><a href="/calculadoras/TMB"><img src="~/resources/Oficial/tmb.png" title="Tasa Metabólica Basal" /><p>TMB</p></a></li>
                        </ul>
                    </li>


                    @*UsuIco*@
                    <li class="topnavli arrow" id="liUsu">

                        <a href="#" class="user dropdown-toggle" data-toggle="dropdown"></a>
                        <ul id="ulUsu" class="dropdown-menu">
                            <li class="userLi" style="border:none;">
                                @if ((Request.Cookies[FormsAuthentication.FormsCookieName] != null) && (Request.Cookies["cookieUsu"] != null))
                                {
                                    <h3 class="userTitle">@Request.Cookies["cookieUsu"]["UsuNom"]</h3>
                                }
                                else
                                {
                                    <h3 class="userTitle">Bienvenido</h3>
                                }
                            </li>

                            @if (Request.Cookies[FormsAuthentication.FormsCookieName] != null)
                            {
                                <li class="dropdown-submenu userLiSubMenu" id="leti"></li>
                            }

                            <li class="userLi"><a id="btnNotificacion" href="#" onclick="abrirNotificaciones()">Notificaciones <span class="badge badge-pill badge-info"></span></a>
                                
                            </li>

                            <li class="userLi"><a href="#">Favoritos</a></li>

                            <li class="userLi">
                                @Html.ActionLink("Datos Clínicos", "Datos_Clinicos", "Personas")
                            </li>

                            <li class="userLi"><a href="/configuracion">Configuración</a></li>

                            <li class="userLi">
                                @if (Request.Cookies[FormsAuthentication.FormsCookieName] != null)
                                {
                                    @Html.ActionLink("Salir", "Logout", "Usuarios")
                                }
                                else
                                {
                                    @Html.ActionLink("Ingresar", "Login", "Usuarios")
                                }
                            </li>
                        </ul>

                    </li>
                </ul>
            </div>
        </nav>
    </header>

    @if (ViewBag.Title == null)
    {
        <div class="sliderContainer">
            <div class="slider single-item">
                <div class="slideAccordian">
                    <div class="comidasSlide">
                        <div class="auxContAccordianAlt">
                            <div class="ContAccordianAlt">
                                <h1>¡Disfruta las 4 comidas del día!</h1>
                                <h4>Esencial para una buena alimentación.</h4>
                            </div>
                        </div>
                        <div class="accordian">
                            <ul>
                                <li class="firstLiAccordian">
                                    <a href="/recetas/listado" style="background-image:url(resources/oficial/yotecuido.jpg);"></a>
                                </li>
                                <li>
                                    <div class="image_title">
                                        <a href="/recetas/listado">Desayuno</a>
                                    </div>
                                    <a href="/recetas/listado" style="background-image:url(resources/oficial/desayuno.jpg)"></a>
                                </li>
                                <li>
                                    <div class="image_title">
                                        <a href="/recetas/listado">Almuerzo</a>
                                    </div>
                                    <a href="/recetas/listado" style="background-image:url(resources/oficial/almuerzo.jpg)"></a>
                                </li>
                                <li>
                                    <div class="image_title">
                                        <a href="/recetas/listado">Merienda</a>
                                    </div>
                                    <a href="/recetas/listado" style="background-image:url(resources/oficial/merienda.jpg)"></a>
                                </li>
                                <li>
                                    <div class="image_title">
                                        <a href="/recetas/listado">Cena</a>
                                    </div>
                                    <a href="/recetas/listado" style="background-image:url(resources/oficial/cena.jpg)"></a>
                                </li>
                            </ul>
                        </div>
                        <script type="text/javascript">
                            var x = document.getElementsByClassName("image_title");
                            var i;
                            for (i = 0; i < x.length; i++) {
                                x[i].style.width = window.innerWidth + "px";
                            }
                        </script>
                    </div>
                </div>

                <div style="background-color: #e3e3e3;">
                    <div id="slideYTC">
                        <p><h1 style="float:left"><i class="fa fa-heart" aria-hidden="true"></i> YoTe</h1></p>
                        <h1>
                            <b>
                                <span1>
                                    Ayudo<br /><br />
                                    Guío<br /><br />
                                    Cuido
                                </span1>
                            </b>
                        </h1>
                    </div>
                </div>
                
                <div>
                    <div id="slideLucy">
                        <div class="container">
                            <div class="row">
                                <svg viewBox="0 0 960 300">
                                    <symbol id="s-text">
                                        <text text-anchor="middle" x="50%" y="80%">Lucy </text>
                                    </symbol>
                                    <g class="g-ants">
                                        <use xlink:href="#s-text" class="text-copy"></use>
                                        <use xlink:href="#s-text" class="text-copy"></use>
                                        <use xlink:href="#s-text" class="text-copy"></use>
                                        <use xlink:href="#s-text" class="text-copy"></use>
                                        <use xlink:href="#s-text" class="text-copy"></use>
                                    </g>
                                </svg>
                            </div>

                            <div class="row">
                                <h3>
                                    Tu asistente personal. Para el cuidado de tu salud y de los que más te importan.
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div><h1 style="margin-top:230px;">Salud</h1></div>*@
            </div>
            <div class="progressBarContainer">
                <div>
                    <span data-slick-index="0" class="progressBar"></span>
                </div>
                <div>
                    <span data-slick-index="1" class="progressBar"></span>
                </div>
                <div>
                    <span data-slick-index="2" class="progressBar"></span>
                </div>
                @*<div>
                    <span data-slick-index="3" class="progressBar"></span>
                </div>*@
            </div>
        </div>
    }

    @RenderSection("subnav", required: false)

    <!-- body -->
    <div class="container body-content">
        
        @RenderBody()
        
    </div>

    <div class="container body-content">
        <!-- footer -->
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Lucy</p>
        </footer>
    </div>

    <!-- Modal Notificaciones -->
    <div class="modal fade" id="PopUpNotificaciones" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Notificaciones</h4>
                </div>
                <div id="listaNot" class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Volver</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        function abrirNotificaciones() {
            $('#PopUpNotificaciones').modal({
                show: 'true'
            });
        }
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/myScript")

    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(document).ready(function () {
            $('.dropdown-submenu').on("click", function (e) {
                //$(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
            });

            $('.userLi h3').on("click", function (e) {
                e.stopPropagation();
                e.preventDefault();
            });

            $("#leti").load("/Home/_Personas");
            
        });

        function changePersona(PerId, PerNom, PerApe) {
            location.href = "/home/selPersona/?PerId=" + PerId + "&url=" + document.URL;     
        }
        
    </script>

    <script type="text/javascript">
        $("#btnNotificacion").on("click", function () {
            $("#listaNot").load("/notificaciones/listado");
            notificaciones();
        });
    </script>

    @*@if (ViewBag.ReloadHome != null && ViewBag.ReloadHome == true)
    {
        <script type="text/javascript">
            location.href = "/?reloadHome=false";
        </script>
    }
    else
    {
        <script type="text/javascript">
            if (window.location.href.indexOf("reloadHome") > -1) {
                $(".logoBanner").on("click", function () {
                    location.href = "/";
                });
                $(".logoBanner").trigger("click");
            }
        </script>
    }*@

</body>
</html>