<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/ico.ico">
    <title>@ViewBag.Title Lucy</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700" rel="stylesheet">
    @RenderSection("style", required: false)
</head>
<body onshow="getUsuPos()" onresize="getUsuPos()">

    <div id="out" onclick="closeNav()"></div>

    <header>

        <!-- sidenav -->
        <nav id="mySidenav" class="sidenav">
            <ul class="ul-sidenav">
                @if (Request.Cookies["cookieUsu"] != null)
                {
                    <li class="liHi">
                        <a disabled class="opSidnav typewrite" data-period="3000" data-type='[ "", "Hola @Request.Cookies["cookieUsu"]["UsuNom"]", "¿Cómo estás?", "¿Qué tal tu día?" ]'>
                            <span class="wrap"></span>
                        </a>
                    </li>
                }
                else
                {
                    <li class="liHi">
                        <a disabled class="opSidnav typewrite" data-period="3000" data-type='[ "Hola, Soy Lucy", "¿Es tu primera vez aquí?", "Yo puedo cuidarte", "¿Por qué no te creas una cuenta?" ]'>
                            <span class="wrap"></span>
                        </a>
                    </li>
                }
                <li>
                    <a href="/articulos/index" class="opSidnav">Noticias</a>
                </li>
                <li>
                    <a href="#" class="opSidnav">Registro</a>
                </li>
                <li>
                    <a href="/alimentos/informacion_nutricional" class="opSidnav">Información Nutricional</a>
                </li>
                <li>
                    <a href="/dietas/index" class="opSidnav">Dietas</a>
                </li>
                <li>
                    <a href="/recetas/index" class="opSidnav">Recetas</a>
                </li>
                <li>
                    <a href="#" class="opSidnav">Mapas</a>
                </li>
                <li>
                    <a href="#" class="opSidnav">Ejercicio</a>
                </li>
                <li>
                    <a href="#" class="opSidnav">Calculadoras</a>
                </li>
                <li>
                    <a href="#" class="opSidnav">Calendario</a>
                </li>
                <li>
                    <a href="#" class="opSidnav">Historial Clínico</a>
                </li>
                <li style="border: 0;">
                    <div class="socialButton">
                        <ul>
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-google"></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>

        <!-- topnav -->
        <nav id="menuContainer">
            <div id="menu">
                <ul id="myTopnav" class="topnav">
                    @*Cruz*@
                    <li class="topnavli">
                        <a href="javascript:void(0)" class="cruz">
                            <div class="barras">
                                <div class="barra1"></div>
                                <div class="barra2"></div>
                            </div>
                        </a>
                    </li>

                   
                    
                        @*Registro*@
                    <li class="topnavli dropdown2 arrow">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdownS">Registro</a>
                        <ul class="dropdown-menuS nav-list list-inline">
                            <li class="userLi"><a href="/alimentos/informacion_nutricional"><img src="~/resources/Oficial/infnut.png" /><p>Inf. Nutricional</p></a></li>
                            <li class="userLi"><a href="/recetas/index"><img src="~/resources/Oficial/receta.png" /><p>Recetas</p></a></li>
                            <li class="userLi"><a href="/dietas/index"><img src="~/resources/Oficial/dieta.png" /><p>Dieta</p></a></li>
                        </ul>

                    </li>

                    

                    <li class="topnavli"><a href="/articulos/index">Noticias</a></li>

                    
                    
                    @*Alimentos*@
                    <li class="topnavli dropdown1 arrow">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdownS">Alimentación</a>
                        <ul class="dropdown-menuS nav-list list-inline">
                            <li class="userLi"><a href="/alimentos/informacion_nutricional"><img src="~/resources/Oficial/infnut.png" /><p>Inf. Nutricional</p></a></li>
                            <li class="userLi"><a href="/recetas/index"><img src="~/resources/Oficial/receta.png" /><p>Recetas</p></a></li>
                            <li class="userLi"><a href="/dietas/index"><img src="~/resources/Oficial/dieta.png" /><p>Dieta</p></a></li>
                        </ul>

                    </li>

                    <li class="topnavli"><a href="/" class="logoBanner"></a></li>

                    @*Ejercicio*@
                    <li class="topnavli dropdown2 arrow">
                        
                        <a href="#" class="dropdown-toggle" data-toggle="dropdownS">Ejercicio</a>
                        <ul class="dropdown-menuS nav-list list-inline">
                            <li class="userLi"><a href="/programas/index"><img src="~/resources/Oficial/programa.png" /><p>Programas</p></a></li>
                            <li class="userLi"><a href="/rutinas/index"><img src="~/resources/Oficial/rutina.png" /><p>Rutinas</p></a></li>
                            <li class="userLi"><a href="/ejercicios/index"><img src="~/resources/Oficial/ejercicio.png" /><p>Ejercicios</p></a></li>
                        </ul>
                    </li>

                    <li class="topnavli"><a href="#">Mapa</a></li>
                    <li class="topnavli"><a href="#">Calculadoras</a></li>


                    @*UsuIco*@
                    <li class="topnavli arrow" id="liUsu">

                        <a href="#" class="user dropdown-toggle" data-toggle="dropdown"></a>
                        <ul id="ulUsu" class="dropdown-menu">
                            <li class="userLi">
                                @if (Request.IsAuthenticated)
                                {
                                    <h4>@Request.Cookies["cookieUsu"]["UsuNom"]</h4>
                                }
                                else
                                {
                                    <h4>Hola</h4>
                                }
                            </li>
                            <li class="userLi"><a href="#">Notificaciones</a></li>
                            <li class="userLi">
                                @Html.ActionLink("Datos clínicos", "Datos_Clinicos", "Personas")
                            </li>
                            <li class="userLi"><a href="#">Configuración</a></li>
                            <li class="userLi">
                                @if (Request.IsAuthenticated)
                                {
                                    @Html.ActionLink("Salir", "Logout", "Usuarios")
                                }
                                else
                                {
                                    @Html.ActionLink("Ingresar", "Login", "Usuarios")
                                }
                            </li>
                        </ul>

                    </li>
                </ul>
            </div>
        </nav>
    </header>

    @if (ViewBag.Title == null)
    {
        <div class="sliderContainer">
            <div class="slider single-item">
                <div><h1>Lucy</h1></div>
                <div class="slideAccordian">
                    <div class="comidasSlide">
                        <div class="auxContAccordianAlt">
                            <div class="ContAccordianAlt">
                                <h1>¡Disfruta las 4 comidas del día!</h1>
                                <h4>Esencial para una buena alimentación.</h4>
                            </div>
                        </div>
                        <div class="accordian">
                            <ul>
                                <li class="firstLiAccordian">
                                    <a href="#" style="background-image:url(resources/oficial/yotecuido.jpg);"></a>
                                </li>
                                <li>
                                    <div class="image_title">
                                        <a href="#">Desayuno</a>
                                    </div>
                                    <a href="#" style="background-image:url(resources/oficial/desayuno.jpg)"></a>
                                </li>
                                <li>
                                    <div class="image_title">
                                        <a href="#">Almuerzo</a>
                                    </div>
                                    <a href="#" style="background-image:url(resources/oficial/almuerzo.jpg)"></a>
                                </li>
                                <li>
                                    <div class="image_title">
                                        <a href="#">Merienda</a>
                                    </div>
                                    <a href="#" style="background-image:url(resources/oficial/merienda.jpg)"></a>
                                </li>
                                <li>
                                    <div class="image_title">
                                        <a href="#">Cena</a>
                                    </div>
                                    <a href="#" style="background-image:url(resources/oficial/cena.jpg)"></a>
                                </li>
                            </ul>
                        </div>
                        <script type="text/javascript">
                            var x = document.getElementsByClassName("image_title");
                            var i;
                            for (i = 0; i < x.length; i++) {
                                x[i].style.width = window.innerWidth + "px";
                            }
                        </script>
                    </div>
                </div>
                <div><h1>#Diabetes</h1></div>
                <div><h1>•</h1></div>
            </div>
            <div class="progressBarContainer">
                <div>
                    <span data-slick-index="0" class="progressBar"></span>
                </div>
                <div>
                    <span data-slick-index="1" class="progressBar"></span>
                </div>
                <div>
                    <span data-slick-index="2" class="progressBar"></span>
                </div>
                <div>
                    <span data-slick-index="3" class="progressBar"></span>
                </div>
            </div>
        </div>
    }

    @RenderSection("subnav", required: false)

    <!-- body -->
    <div class="container body-content">
        
        @RenderBody()
        
        <!-- footer -->
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Lucy</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/myScript")
    @RenderSection("scripts", required: false)

</body>
</html>