<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/ico.ico">
    <title>@ViewBag.Title Lucy</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    @RenderSection("style", required: false)
</head>
<body onshow="getUsuPos()" onresize="getUsuPos()">

    <div id="out" onclick="closeNav()"></div>

    <header>

        <!-- sidenav -->
        <nav id="mySidenav" class="sidenav">
            <ul class="ul-sidenav">
                @if (Request.Cookies["cookieUsu"] != null)
                {
                    <li class="liHi">
                        <a disabled class="opSidnav typewrite" data-period="3000" data-type='[ "", "Hola @Request.Cookies["cookieUsu"]["UsuNom"]", "¿Cómo estás?", "¿Qué tal tu día?" ]'>
                            <span class="wrap"></span>
                        </a>
                    </li>
                }
                else
                {
                    <li class="liHi">
                        <a disabled class="opSidnav typewrite" data-period="3000" data-type='[ "Hola, Soy Lucy", "¿Es tu primera vez aquí?", "Yo puedo cuidarte", "¿Por qué no te creas una cuenta?" ]'>
                            <span class="wrap"></span>
                        </a>
                    </li>
                }
                <li>
                    <a href="#" class="opSidnav">Noticias</a>
                </li>
                <li>
                    <a href="#" class="opSidnav">Registro</a>
                </li>
                <li>
                    <a href="/Alimentos/InfNut" class="opSidnav">Información Nutricional</a>
                </li>
                <li>
                    <a href="#" class="opSidnav">Dietas</a>
                </li>
                <li>
                    <a href="#" class="opSidnav">Recetas</a>
                </li>
                <li>
                    <a href="#" class="opSidnav">Mapas</a>
                </li>
                <li>
                    <a href="#" class="opSidnav">Ejercicio</a>
                </li>
                <li>
                    <a href="#" class="opSidnav">Calculadoras</a>
                </li>
                <li>
                    <a href="#" class="opSidnav">Calendario</a>
                </li>
                <li>
                    <a href="#" class="opSidnav">Historial Clínico</a>
                </li>
                <li style="border: 0;">
                    <div class="socialButton">
                        <ul>
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-google"></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>

        <!-- topnav -->
        <nav id="menuContainer">
            <div id="menu">
                <ul id="myTopnav" class="topnav">
                    @*Cruz*@
                    <li class="topnavli">
                        <a href="javascript:void(0)" class="cruz">
                            <div class="barras">
                                <div class="barra1"></div>
                                <div class="barra2"></div>
                            </div>
                        </a>
                    </li>

                    <li class="topnavli"><a href="#">Noticias</a></li>
                    <li class="topnavli"><a href="#">Mapa</a></li>
                    <li class="topnavli"><a href="#">Calculadora</a></li>

                    <li class="topnavli"><a href="/" class="logoBanner"></a></li>

                    @*Alimentos*@
                    <li class="topnavli dropdown1 arrow">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdownS">Alimentos</a>
                        <ul class="dropdown-menuS nav-list list-inline">
                            <li class="userLi"><a href="#">Comidas</a></li>
                            <li class="userLi">
                                @Html.ActionLink("Inf. Nutricional", "InfNut", "Alimentos")
                            </li>
                            <li class="userLi"><a href="#">Recetas</a></li>
                            <li class="userLi"><a href="#">Dietas</a></li>
                        </ul>

                    </li>

                    <li class="topnavli"><a href="#">Dieta</a></li>

                    @*Ejercicio*@
                    <li class="topnavli dropdown2 arrow">
                        
                        <a href="#" class="dropdown-toggle" data-toggle="dropdownS">Ejercicio</a>
                        <ul class="dropdown-menuS nav-list list-inline">
                            <li class="userLi"><a href="#">Planes</a></li>
                            <li class="userLi"><a href="#">Sesiones</a></li>
                            <li class="userLi"><a href="#">Ejercicios</a></li>
                        </ul>

                    </li>

                    @*UsuIco*@
                    <li class="topnavli arrow" id="liUsu">

                        <a href="#" class="user dropdown-toggle" data-toggle="dropdown"></a>
                        <ul id="ulUsu" class="dropdown-menu">
                            <li class="userLi"><a href="#">Notificaciones</a></li>
                            <li class="userLi">
                                @Html.ActionLink("Datos clínicos", "Datos_Clinicos", "Personas")
                            </li>
                            <li class="userLi"><a href="#">Configuración</a></li>
                            <li class="userLi">
                                @if (Request.IsAuthenticated)
                                {
                                    @Html.ActionLink("Salir", "Logout", "Usuarios")
                                }
                                else
                                {
                                    @Html.ActionLink("Ingresar", "Login", "Usuarios")
                                }
                            </li>
                        </ul>

                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="sliderContainer">
        <div class="slider single-item">
            <div>Salud</div>
            <div>Lucy</div>
            <div>#Diabetes</div>
            <div>•</div>
        </div>
        <div class="progressBarContainer">
            <div>
                <span data-slick-index="0" class="progressBar"></span>
            </div>
            <div>
                <span data-slick-index="1" class="progressBar"></span>
            </div>
            <div>
                <span data-slick-index="2" class="progressBar"></span>
            </div>
            <div>
                <span data-slick-index="3" class="progressBar"></span>
            </div>
        </div>
    </div>

    <!-- body -->
    <div class="container body-content">
        
        @RenderBody()
        
        <!-- footer -->
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Lucy</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/myScript")
    @RenderSection("scripts", required: false)

</body>
</html>