@model ModelCL.Contenido

@{
    ViewBag.Title = "Ver Programa";
}


<div>
    <h4>Programa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ContenidoTitulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContenidoTitulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContenidoDescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContenidoDescripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContenidoCuerpo)
        </dt>

        <dd>
            @Html.Raw(Model.ContenidoCuerpo.Replace(Environment.NewLine, "<br/>"))
        </dd>

        <dt>
            @Html.Label("Rutinas")
        </dt>

        <dd>
            <ul>
                @foreach (var item in Model.Programa.Rutina.OrderBy(e => e.Contenido.ContenidoTitulo))
                {
                    <li>@Html.DisplayFor(modelItem => item.Contenido.ContenidoTitulo)</li> 
                }
            </ul>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ContenidoId }) |
    @Html.ActionLink("Volver al listado", "Index")
</p>

