@model ModelCL.Contenido

@{
    ViewBag.Title = "Eliminar Rutina";
}


<h3>¿Está seguro de que desea eliminar esta rutina?</h3>
<div>
    <h4>Rutina</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Título")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContenidoTitulo)
        </dd>

        <dt>
           @Html.Label("Descripción")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContenidoDescripcion)
        </dd>

        <dt>
            @Html.Label("Cuerpo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContenidoCuerpo)
        </dd>

        <dt>
            @Html.Label("Ejercicios")
        </dt>

        <dd>
            <ul>
                @foreach (var item in Model.Rutina.Ejercicio.OrderBy(e => e.Contenido.ContenidoTitulo))
                {
                    <li>@Html.DisplayFor(modelItem => item.Contenido.ContenidoTitulo)</li>
                }
            </ul>
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver al listado", "Index")
        </div>
    }
</div>
