@model IEnumerable<ModelCL.Contenido>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ContenidoTitulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContenidoDescripcion)
        </th>
        <th>
            @Html.Label("Cantidad de ejercicios")
        </th>
        <th>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContenidoTitulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContenidoDescripcion)
            </td>
            <td>
                @item.Rutina.Ejercicio.Count().ToString()
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ContenidoId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ContenidoId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ContenidoId })
            </td>
        </tr>
    }

</table>
