@model ModelCL.Contenido

@{
    ViewBag.Title = "Detalles de Articulo";
}


<div>
    <h4>Artículo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ContenidoTitulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContenidoTitulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContenidoDescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContenidoDescripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContenidoCuerpo)
        </dt>

        <dd>
            @Html.Raw(Model.ContenidoCuerpo.Replace(Environment.NewLine, "<br/>"))
        </dd>

        <dt>
            @Html.Label("Temas")
        </dt>

        <dd>
            <ul>
                @foreach (var item in Model.Articulo.Tema.OrderBy(t => t.TemaNombre))
                {
                    <li>@Html.DisplayFor(modelItem => item.TemaNombre)</li>
                }
            </ul>
        </dd>

        @foreach (var item in Model.Multimedia.OrderBy(m => m.MultimediaOrden))
        {
            @*<dt>
                    @Html.Label("Imágen", htmlAttributes: new { @class = "control-label col-md-2" })
                </dt>*@

            <dd>
                <img src="http://localhost:4181/@Html.DisplayFor(modelItem => item.MultimediaUrl)" height="70" width="70" alt="Imágen no encontrada" />
            </dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ContenidoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

