@model IEnumerable<ModelCL.Contenido>

@{
    ViewBag.Title = "Articulo";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">

            <table class="table">
                <tr>
                    <th>
                        Titulo
                    </th>
                    <th>
                        Descripcion
                    </th>
                    <th>
                        Imágen
                    </th>
                    <th>
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContenidoTitulo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContenidoDescripcion)
                        </td>
                        <td>
                            <img src="http://localhost:4181/@Html.DisplayFor(modelItem => item.Multimedia.Where(m => m.MultimediaOrden == 1).FirstOrDefault().MultimediaUrl)" height="70" width="70" alt="Imágen no encontrada" />
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ContenidoId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ContenidoId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ContenidoId })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>

