@model ModelCL.Contenido

@{
    ViewBag.Title = "Programa | Ver";
    var i = 0;
}

<div class="publicidadTop"><small>Publicidad</small></div>

<div class="row" style="margin-bottom: 30px;">
    <p>
        @Html.ActionLink("Volver al listado", "Index")
    </p>

    <div class="col-sm-6 col-sm-offset-3">
        <div class="row">
            <div class="col-sm-12">
                <h3 style="float: left; margin-right: 5px">@Html.DisplayFor(model => model.ContenidoTitulo)</h3>
                @if (ViewBag.idUsu != null && Model.UsuarioAutor != null && ViewBag.idUsu == Model.UsuarioAutor.UsuarioId)
                {
                    <span style="float: left; margin: 27px 0 10px;">
                        @Html.ActionLink("Editar", "Edit", new { id = Model.ContenidoId }) |
                    </span>
                    <span style="float: left; margin: 27px 0 10px 5px;">
                        @Html.ActionLink("Eliminar", "Delete", new { id = Model.ContenidoId })
                    </span>
                }
            </div>
        </div>

        <small>@Model.ContenidoCantVisitas visitas</small>

        <br /><br />

        <p>@Model.ContenidoDescripcion</p>
        <br />

        @foreach (var item in Model.Programa.Rutina.OrderBy(e => e.Contenido.ContenidoTitulo))
        {
            <h4>@Html.DisplayFor(modelItem => item.Contenido.ContenidoTitulo) <small>(@item.Ejercicio.Count() Ejercicios)</small></h4>
            <p>@Html.Raw(item.Contenido.ContenidoCuerpo.Replace(Environment.NewLine, "<br/>"))</p>
            <h5>Ejercicios:</h5>
            <ul style="margin-left: 50px;">
            @foreach (var item2 in item.Ejercicio)
            {
		         <li><a href="/ejercicios/ver?id=@item2.Contenido.ContenidoId" target="_blank">@item2.Contenido.ContenidoTitulo</a></li>
	        }
            </ul>
        }

    </div>
</div>

<div id="comentarios">
    @Html.Action("_Index", "Comentarios", new { idContenido = Model.ContenidoId })
</div>

<div id="crear_comentario">
    @if (Request.Cookies[FormsAuthentication.FormsCookieName] != null)
    {

        @Html.Action("_Create", "Comentarios", new { idContenido = Model.ContenidoId })

    }
    else
    {
        <a href="/login">Inicia sesión para comentar</a>
    }
</div>
