@model IEnumerable<ModelCL.Contenido>

@{
    ViewBag.Title = "Programas";
}

<h2>Programas</h2>

<p>
    @Html.ActionLink("Crear nuevo programa", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Nombre")
        </th>
        <th>
            @Html.Label("Descripción")
        </th>
        <th>
            @Html.Label("Cantidad de rutinas")
        </th>
        <th>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContenidoTitulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContenidoDescripcion)
            </td>
            <td>
                @item.Programa.Rutina.Count().ToString()
            </td>
            <td>
                @Html.ActionLink("Ver", "Details", new { id = item.ContenidoId }) |
                @Html.ActionLink("Editar", "Edit", new { id = item.ContenidoId }) |                
                @Html.ActionLink("Eliminar", "Delete", new { id = item.ContenidoId })
            </td>
        </tr>
    }

</table>
