<h3>Dieta</h3>

<br />

<p>Promedio de calorías aproximadas en sus comidas:</p>

<div id="listado_calorias">
    <p><b>Desayuno</b>: @ViewBag.CaloriasDesayuno</p>
    <p><b>Almuerzo</b>: @ViewBag.CaloriasAlmuerzo</p>
    <p><b>Merienda</b>: @ViewBag.CaloriasCena</p>
    <p><b>Cena</b>: @ViewBag.CaloriasCena</p>
    <p><b>Ingestas/Colaciones/Aperitivos</b>: @ViewBag.CaloriasIngestas</p>
</div>

<div id="grafica_calorias">

</div>

<p>
    @Html.ActionLink("Ir al listado de comidas registradas", "Index", "RegComida", null, null)
</p>