@model List<ModelCL.Registro>

@{
    ViewBag.Title = "Historial Clínico";
}

<h2>Historial clínico</h2>
<br />
<p>Esta viendo el historial clínico de <b>@ViewBag.Persona</b>.</p>

<div class="datos_generales">
    @Html.Action("_DatosGenerales", "HistorialClinico")
</div>

<div id="dieta">
    @Html.Action("_Dieta", "HistorialClinico")
</div>

@if (ViewBag.esDiabeticoTipo1 == true){
    <div id="diabetes_tipo_1">
        @Html.Action("_DiabetesTipo1", "HistorialClinico")
    </div>
}


@section scripts{
    <!-- morris.js -->
    <script src="~/Scripts/raphael.min.js"></script>
    <script src="~/Scripts/morris.min.js"></script>
    <script>
        $('#grafica_peso').ready(function () {
            if ($('#grafica_peso').length) {

                new Morris.Line({
                    element: 'grafica_peso',
                    xkey: 'Fch',
                    ykeys: ['peso'],
                    labels: ['Peso'],
                    hideHover: 'auto',
                    lineColors: ['#34495E'],
                    data: [
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                @Html.Raw("{ Fch: '" + item.RegistroFchHora.ToShortDateString() + "', peso: " + item.Peso.PesoValor + " },")
                            }
                        }
                    ],
                    resize: true
                });
                
            }
        });

    </script>

}
