@model ModelCL.Contenido

@{
    ViewBag.Title = "Eliminar Receta";
}


<h3>¿Está seguro de que desea eliminar esta receta?</h3>
<div>
    <h4>Receta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Título")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContenidoTitulo)
        </dd>

        <dt>
           @Html.Label("Descripción")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContenidoDescripcion)
        </dd>

        <dt>
            @Html.Label("Cuerpo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContenidoCuerpo)
        </dd>

        <dt>
            @Html.Label("Calorías")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Receta.RecetaCalorias)
        </dd>

        <dt>
            @Html.Label("Hidratos")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Receta.RecetaHidratos)
        </dd>

        <dt>
            @Html.Label("Gluten")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Receta.RecetaGluten)
        </dd>

        <dt>
           @Html.Label("Sodio")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Receta.RecetaSodio)
        </dd>

        @foreach (var item in Model.Multimedia.OrderBy(m => m.MultimediaOrden))
        {
            @*<dt>
                @Html.Label("Imagen", htmlAttributes: new { @class = "control-label col-md-2" })
            </dt>*@

            <dd>
                <img src="http://localhost:4181/@Html.DisplayFor(modelItem => item.MultimediaUrl)" height="70" width="70" alt="Imagen no encontrada" />
            </dd>
        }
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver al listado", "Index")
        </div>
    }
</div>
