@model ModelCL.Contenido

@{
    ViewBag.Title = "Ver Receta";
}


<div>
    <h4>Receta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ContenidoTitulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContenidoTitulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContenidoDescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContenidoDescripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContenidoCuerpo)
        </dt>

        <dd>
            @Html.Raw(Model.ContenidoCuerpo.Replace(Environment.NewLine, "<br/>"))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Receta.RecetaCalorias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Receta.RecetaCalorias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Receta.RecetaHidratos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Receta.RecetaHidratos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Receta.RecetaGluten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Receta.RecetaGluten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Receta.RecetaSodio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Receta.RecetaSodio)
        </dd>

        @foreach (var item in Model.Multimedia.OrderBy(m => m.MultimediaOrden))
        {
            @*<dt>
                @Html.Label("Imágen", htmlAttributes: new { @class = "control-label col-md-2" })
            </dt>*@

            <dd>
                <img src="http://localhost:4181/@Html.DisplayFor(modelItem => item.MultimediaUrl)" height="70" width="70" alt="Imágen no encontrada" />
            </dd>
        }
        
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ContenidoId }) |
    @Html.ActionLink("Volver al listado", "Index")
</p>
