@model IEnumerable<ModelCL.Contenido>

@{
    ViewBag.Title = "Index";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Contenido del Titulo)
        </th>
        <th>
            Contenido de Descripcion)
        </th>
        <th>
            Calorias por Receta
        </th>
        <th>
            Hidratos por Receta
        </th>
        <th>
            Sodio por Receta
        </th>
        <th>
            Gluten por Receta
        </th>
        <th>
            Imágen
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ContenidoTitulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContenidoDescripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Receta.RecetaCalorias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Receta.RecetaHidratos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Receta.RecetaSodio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Receta.RecetaGluten)
        </td>
        <td>
            <img src="http://localhost:4181/@Html.DisplayFor(modelItem => item.Multimedia.Where(m => m.MultimediaOrden == 1).FirstOrDefault().MultimediaUrl)" height="70" width="70" alt="Imágen no encontrada" />
            @*<img src="../../Resources/Oficial/Imagenes/Recetas/papa.png" />*@ 
            @*<img src="@ViewBag.resUrl@Html.DisplayFor(modelItem => item.Multimedia.Where(m => m.MultimediaTipo == "Portada").FirstOrDefault().MultimediaUrl)" alt="Alternate Text" />*@
            @*<img src="file:C:\Users\gcobu\Dropbox\Cobucci\Proyectos\Lucy\Backend\Resources\Oficial\Imagenes\Recetas\papa.png" alt="Alternate Text" />*@
            @*<img src="../../Lucy/Resources/Oficial/Imagenes/Recetas/papa.png" height="70" width="70" alt="Papas" title="Papas">*@
            @*<img src="@Href("../../Lucy/Resources/Oficial/Imagenes/bc9e65bc-9219-4ef4-ae72-d20d5c05f8d8.png")"/>*@
            @*<img src="@ViewBag.baseUrl../Lucy/Resources/@Html.DisplayFor(modelItem => item.Multimedia.Where(m => m.MultimediaTipo == "Portada").FirstOrDefault().MultimediaUrl)" />*@
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ContenidoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ContenidoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ContenidoId })
        </td>
    </tr>
}

</table>
