@model ModelCL.Valor

@{
    ViewBag.Title = "Borrar Valores";
}


<h3>¿Está seguro de que desea eliminar este valor?</h3>
<div>
    <h4>Valor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ValorNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorGeneral)
        </dt>

        <dd>
            @if (Model.ValorGeneral == true)
            {
                <text>Si</text>
            }
            else
            {
                <text>No</text>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorMedida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorMedida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorBajoMinimo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorBajoMinimo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorNormalMinimo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorNormalMinimo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorNormalMaximo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorNormalMaximo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorAltoMaximo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorAltoMaximo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorMsgMuyBajo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorMsgMuyBajo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorMsgBajo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorMsgBajo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorMsgNormal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorMsgNormal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorMsgAlto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorMsgAlto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorMsgMuyAlto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorMsgMuyAlto)
        </dd>

        <dt>
            @Html.Label("Enfermedades relacionadas")
        </dt>

        <dd>
            <ul>
                @foreach (var item in Model.Enfermedad.OrderBy(m => m.EnfermedadNombre))
                {
                    <li>@Html.DisplayFor(modelItem => item.EnfermedadNombre)</li>
                }
            </ul>
        </dd>

        <dt>
            @Html.Label("Medicinas/Dosis asociadas")
        </dt>

        <dd>
            <ul>
                @foreach (var item in Model.RelMedVal.OrderBy(m => m.Medicina.MedicinaNombre))
                {
                    <li>
                        @Html.DisplayFor(modelItem => item.Medicina.MedicinaNombre)

                        <table class="table">
                            <tr>
                                <th>
                                    @Html.Label("Presentación")
                                </th>
                                <th>
                                    @Html.Label("Cantidad mínima")
                                </th>
                                <th>
                                    @Html.Label("Efecto")
                                </th>
                            </tr>

                            @foreach (var d in item.Dosis)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => d.Presentacion.PresentacionNombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => d.DosisCantidadMin)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => d.DosisEfecto)
                                    </td>
                                </tr>
                            }
                        </table>
                    </li>
                }
            </ul>
        </dd>
    </dl>


    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
