@model ModelCL.Valor

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Valor</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ValorId)

        <div class="form-group">
            @Html.LabelFor(model => model.ValorNombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ValorNombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ValorNombre, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.ValorMedida, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ValorMedida, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ValorMedida, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ValorDesc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ValorDesc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ValorDesc, "", new { @class = "text-danger" })
            </div>
        </div>


        <dl class="dl-horizontal">
            <dt>
                @Html.Label("Enfermedades")
            </dt>

            <dd>
                <p>
                    @Html.ActionLink("Create new", "Create", "RelEnfVal", new { idVal = Model.ValorId }, null)
                </p>
                <table class="table">
                    <tr>
                        <th>
                            @Html.Label("Nombre")
                        </th>
                        <th>
                            @Html.Label("Medida")
                        </th>
                        <th>
                            @Html.Label("Valor mínimo")
                        </th>
                        <th>
                            @Html.Label("Valor máximo")
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model.RelEnfVal.OrderBy(rev => rev.Enfermedad.EnfermedadNombre))
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Enfermedad.EnfermedadNombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RelEnfValMinimo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RelEnfValMinimo)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", "RelEnfVal", new { idEnf = item.EnfermedadId, idVal = item.ValorId }, null) |
                                @Html.ActionLink("Delete", "Delete", "RelEnfVal", new { idEnf = item.EnfermedadId, idVal = item.ValorId }, null)
                            </td>
                        </tr>
                    }
                </table>
            </dd>

            <dt>
                @Html.Label("Medicinas/Dosis")
            </dt>

            <dd>
                <p>
                    @Html.ActionLink("Create new", "Create", "Dosis", new { idVal = Model.ValorId }, null)
                </p>

                <ul>
                    @foreach (var item in Model.RelMedVal.OrderBy(m => m.Medicina.MedicinaNombre))
                    {
                        <li>
                            @Html.DisplayFor(modelItem => item.Medicina.MedicinaNombre)

                            <table class="table">
                                <tr>
                                    <th>
                                        @Html.Label("Tipo")
                                    </th>
                                    <th>
                                        @Html.Label("Medida")
                                    </th>
                                    <th>
                                        @Html.Label("Cantidad mínima")
                                    </th>
                                    <th>
                                        @Html.Label("Efecto")
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var d in item.Dosis)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => d.DosisTipo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => d.DosisMedida)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => d.DosisCantidadMin)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => d.DosisEfecto)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", "Dosis", new { id = d.DosisId }, null) |
                                            @Html.ActionLink("Delete", "Delete", "Dosis", new { id = d.DosisId }, null)
                                        </td>
                                    </tr>
                                }
                            </table>
                        </li>
                    }
                </ul>
            </dd>
        </dl>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
