@model ModelCL.Valor

@{
    ViewBag.Title = "Editar Valores";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Valor</h4>
        <hr />
        
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger">
                <strong>Error! </strong>@ViewBag.ErrorMessage
            </div>
        }

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ValorId)

        <div class="form-group">
            @Html.LabelFor(model => model.ValorNombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ValorNombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ValorNombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ValorDesc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ValorDesc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ValorDesc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ValorGeneral, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ValorGeneral, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ValorGeneral, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ValorMedida, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ValorMedida, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ValorMedida, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ValorBajoMinimo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ValorBajoMinimo, new { htmlAttributes = new { @class = "form-control", @type = "number", @step = 0.1 } })
                @Html.ValidationMessageFor(model => model.ValorBajoMinimo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ValorNormalMinimo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ValorNormalMinimo, new { htmlAttributes = new { @class = "form-control", @type = "number", @step = 0.1 } })
                @Html.ValidationMessageFor(model => model.ValorNormalMinimo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ValorNormalMaximo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ValorNormalMaximo, new { htmlAttributes = new { @class = "form-control", @type = "number", @step = 0.1 } })
                @Html.ValidationMessageFor(model => model.ValorNormalMaximo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ValorAltoMaximo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ValorAltoMaximo, new { htmlAttributes = new { @class = "form-control", @type = "number", @step = 0.1 } })
                @Html.ValidationMessageFor(model => model.ValorAltoMaximo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ValorMsgMuyBajo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ValorMsgMuyBajo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ValorMsgMuyBajo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ValorMsgBajo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ValorMsgBajo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ValorMsgBajo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ValorMsgNormal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ValorMsgNormal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ValorMsgNormal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ValorMsgAlto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ValorMsgAlto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ValorMsgAlto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ValorMsgMuyAlto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ValorMsgMuyAlto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ValorMsgMuyAlto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Enfermedades</div>
            <div class="panel-body">
                <ul class="list-group">
                    @foreach (var enfermedad in ViewBag.lEnfermedades)
                    {
                        var check = false;
                        foreach (var e in Model.Enfermedad)
                        {
                            if (enfermedad.EnfermedadId == e.EnfermedadId)
                            {
                                check = true;
                                break;
                            }
                        }
                        <li class="list-group-item">
                            <label><input type="checkbox" @(check ? "checked" : "") name="enfermedades" value="@enfermedad.EnfermedadId" /> @enfermedad.EnfermedadNombre</label>
                        </li>
                    }
                </ul>
            </div>
        </div>

        <dl class="dl-horizontal">
            <dt>
                @Html.Label("Medicinas/Dosis")
            </dt>

            <dd>
                <p>
                    @Html.ActionLink("Create new", "Create", "Dosis", new { idVal = Model.ValorId }, null)
                </p>

                <ul>
                    @foreach (var item in Model.RelMedVal.OrderBy(m => m.Medicina.MedicinaNombre))
                    {
                        <li>
                            @Html.DisplayFor(modelItem => item.Medicina.MedicinaNombre)

                            <table class="table">
                                <tr>
                                    <th>
                                        @Html.Label("Presentación")
                                    </th>
                                    <th>
                                        @Html.Label("Cantidad mínima")
                                    </th>
                                    <th>
                                        @Html.Label("Efecto")
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var d in item.Dosis)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => d.Presentacion.PresentacionNombre)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => d.DosisCantidadMin)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => d.DosisEfecto)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", "Dosis", new { id = d.DosisId }, null) |
                                            @Html.ActionLink("Delete", "Delete", "Dosis", new { id = d.DosisId }, null)
                                        </td>
                                    </tr>
                                }
                            </table>
                        </li>
                    }
                </ul>
            </dd>
        </dl>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
