@model ModelCL.Dosis

@{
    ViewBag.Title = "Eliminar Dosis";
}


<h3>¿Está seguro de que desea eliminar esta Dosis?</h3>
<div>
    <h4>Dosis</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("ID Medicina")
        </dt>

        <dd>
            @Html.Label("Nombre")
        </dd>

        <dt>
           @Html.Label("Valor")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RelMedVal.Valor.ValorNombre)
        </dd>

        <dt>
            @Html.Label("Presentación")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Presentacion.PresentacionNombre)
        </dd>

        <dt>
            @Html.Label("Cantidad Minima de Dosis")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DosisCantidadMin)
        </dd>

        <dt>
            @Html.Label("Efecto de la Dosis")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DosisEfecto)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver al listado", "Index")
        </div>
    }
</div>
