@using PagedList.Mvc;
@using PagedList;

@model IPagedList<ModelCL.Contenido>

@{
    ViewBag.Title = "Recetas";
}

@section subnav{

    <div id="subTopNav" style="background-image:url(/Resources/Oficial/bannerRecetas.jpg);">
        <div class="container body-content">
            <h3>Recetas</h3>
        </div>
    </div>

}

<div class="MLfiltros col-xs-12 col-sm-3">
    <h2>Filtros</h2>
    @using (Html.BeginForm("Index", "Recetas", FormMethod.Get))
    {
        @Html.TextBox("search") <input type="submit" value="Search">
    }
</div>

<div class="MLcontenedor col-xs-12 col-sm-9">
    @foreach (var item in Model)
    {
        <div class="MLitem">
            <div class="MLitemLeft col-sm-9">
                <div class="sinPadding col-sm-4">
                    <img src="http://localhost:4181/@Html.DisplayFor(modelItem => item.Multimedia.Where(m => m.MultimediaOrden == 1).FirstOrDefault().MultimediaUrl)" title="@item.ContenidoTitulo" />
                </div>
                <div class="sinPadding col-sm-8">
                    <div class="MLitemTitulo col-sm-12">@item.ContenidoTitulo</div>
                    <div class="col-sm-6">Calorías: @item.Receta.RecetaCalorias</div>
                    <div class="col-sm-6">Hidratos: @item.Receta.RecetaHidratos</div>
                    <div class="col-sm-6">
                        Gluten: @if (item.Receta.RecetaGluten == true)
                        { <span style="color:rgba(38, 223, 105, 0.8);">Si</span> }
                        else
                        {
                            <span style="color:rgba(247, 24, 24, 0.7);">No</span>
                        }
                    </div>

                    <div class="col-sm-6">
                        Sodio: @if (item.Receta.RecetaSodio == true)
                        { <span style="color:rgba(38, 223, 105, 0.8);">Si</span> }
                        else
                        {
                            <span style="color:rgba(247, 24, 24, 0.7);">No</span>
                        }
                    </div>

                </div>
            </div>
            <div class="MLitemRight col-sm-3">
                <a href="/recetas/details?id=@item.ContenidoId" class="btn btn-sm animated-button thar-three">Leer</a> 
            </div>
        </div>
    }

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, search = Request.QueryString["search"] }),
    new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayLinkToIndividualPages = true })

</div>

<!--<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="container">
    <div class="row">
        <div class="box clearfix">
            <table class="table table-hover table-striped" id="bootstrap-table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.First().ContenidoTitulo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().ContenidoDescripcion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Receta.RecetaCalorias)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Receta.RecetaHidratos)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Receta.RecetaSodio)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Receta.RecetaGluten)
                        </th>
                        <th>
                            Imágen
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ContenidoTitulo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ContenidoDescripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Receta.RecetaCalorias)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Receta.RecetaHidratos)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Receta.RecetaSodio)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Receta.RecetaGluten)
                            </td>
                            <td>
                                <img src="http://localhost:4181/@Html.DisplayFor(modelItem => item.Multimedia.Where(m => m.MultimediaOrden == 1).FirstOrDefault().MultimediaUrl)" height="70" width="70" alt="Imágen no encontrada" />
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ContenidoId }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ContenidoId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ContenidoId })
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>-->

@section scripts{

    @Scripts.Render("~/bundles/Tablas")

    <script>
        $(document).ready(function () {
            $('#bootstrap-table').bdt({
                showSearchForm: 1,
                showEntriesPerPageField: 1
            }); 
        });
    </script>

}