@model ModelCL.Registro

@{
    ViewBag.Title = "Control Diabético | Eliminar";
}

<h2>Eliminar registro</h2>

<h3>¿Está seguro/a de que desea eliminar este registro</h3>
<div>
    <h4>Control diabético</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Fecha y hora")
        </dt>

        <dd>
            @Model.RegistroFchHora.ToString("dd MMM yyyy - HH:mm")
        </dd>

        <dt>
            @Html.Label("Resultado del control")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Control.ControlValor)
        </dd>

        <dt>
            @Html.Label("Nombre del platillo/descriptivo")
        </dt>

        <dd>
            @if (Model.Comida != null)
            {
                @Html.DisplayFor(model => model.Comida.ComidaPlatillo)
            }
            else
            {
                <text>-</text>
            }
        </dd>

        <dt>
            @Html.Label("Comida")
        </dt>

        <dd>
            @if (Model.Comida != null)
            {
                @Html.DisplayFor(model => model.Comida.ComidaComida)
            }
            else
            {
                <text>-</text>
            }
        </dd>

        <dt>
            @Html.Label("Alimentos")
        </dt>

        <dd>
            @if (Model.Comida != null)
            {
                <ul>
                    @foreach (var item in Model.Comida.RelComAli.OrderBy(rca => rca.Alimento.AlimentoNombre))
                    {
                        <li>@item.RelComAliCantidad - @item.Alimento.AlimentoNombre)</li>
                    }
                </ul>
            }
            else
            {
                <text>-</text>
            }
        </dd>

        <dt>
            @Html.Label("Total de calorías")
        </dt>

        <dd>
            @if (Model.Comida != null)
            {
                @Html.DisplayFor(model => model.Comida.ComidaCalorias)
            }
            else
            {
                <text>-</text>
            }
        </dd>

        <dt>
            @Html.Label("Total de carbohidratos")
        </dt>

        <dd>
            @if (Model.Comida != null)
            {
                @Html.DisplayFor(model => model.Comida.ComidaCarbohidratos)
            }
            else
            {
                <text>-</text>
            }
        </dd>

        <dt>
            @Html.Label("Total de azucares")
        </dt>

        <dd>
            @if (Model.Comida != null)
            {
                @Html.DisplayFor(model => model.Comida.ComidaAzucar)
            }
            else
            {
                <text>-</text>
            }
        </dd>

        <dt>
            @Html.Label("Total de grasas")
        </dt>

        <dd>
            @if (Model.Comida != null)
            {
                @Html.DisplayFor(model => model.Comida.ComidaGrasa)
            }
            else
            {
                <text>-</text>
            }
        </dd>

        <dt>
            @Html.Label("Total de sodio")
        </dt>

        <dd>
            @if (Model.Comida != null)
            {
                @Html.DisplayFor(model => model.Comida.ComidaSodio)
            }
            else
            {
                <text>-</text>
            }
        </dd>

        <dt>
            @Html.Label("Gluten")
        </dt>

        <dd>
            @if (Model.Comida != null)
            {
                if (Model.Comida.ComidaGluten == true)
                {
                    <text>Si</text>
                }
                else if (Model.Comida.ComidaGluten == false)
                {
                    <text>No</text>
                }
                else
                {
                    <text>Sin asignar</text>
                }
            }
            else
            {
                <text>-</text>
            }
        </dd>

        <dt>
            @Html.Label("Insulina por corrección")
        </dt>

        <dd>
            @if (Model.Medicacion != null)
            {
                <text>@Model.Medicacion.Medicina.MedicinaNombre - @Model.Medicacion.MedicacionCantidad - @Model.Medicacion.Presentacion.PresentacionNombre</text>
            }
            else
            {
                <text>-</text>
            }
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver al listado", "Index")
        </div>
    }
</div>
