@model ModelCL.Registro

@{
    ViewBag.Title = "Control Diabético | Información";
}

<h2>Información del registro</h2>


<div>
    <h4>Control Diabético</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Fecha y hora")
        </dt>

        <dd>
            @Model.RegistroFchHora.ToString("dd MMM yyyy - HH:mm")
        </dd>

        <dt>
            @Html.Label("Nombre del platillo/descriptivo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comida.ComidaPlatillo)
        </dd>

        <dt>
            @Html.Label("Comida")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comida.ComidaComida)
        </dd>

        <dt>
            @Html.Label("Total de calorías")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comida.ComidaCalorias)
        </dd>

        <dt>
            @Html.Label("Total de carbohidratos")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comida.ComidaCarbohidratos)
        </dd>

        <dt>
            @Html.Label("Total de azucares")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comida.ComidaAzucar)
        </dd>

        <dt>
            @Html.Label("Total de grasas")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comida.ComidaGrasa)
        </dd> 
        
        <dt>
            @Html.Label("Total de sodio")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comida.ComidaSodio)
        </dd> 

        <dt>
            @Html.Label("Gluten")
        </dt>

        <dd>
            @if (Model.Comida != null && Model.Comida.ComidaGluten == true)
            {
                <text>Si</text>
            }
            else if (Model.Comida != null && Model.Comida.ComidaGluten == false)
            {
                <text>No</text>
            }
            else
            {
                <text>Sin asignar</text>
            }
        </dd>

        <dt>
            @Html.Label("Alimentos")
        </dt>

        <dd>
            @if (Model.Comida != null) {
                <ul>
                    @foreach (var item in Model.Comida.RelComAli.OrderBy(rca => rca.Alimento.AlimentoNombre))
                    {
                        <li>@item.ReComAliCantidad - @item.Alimento.AlimentoNombre)</li>
                    }
                </ul>
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RegistroId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
