@model IEnumerable<ModelCL.Registro>

@{
    ViewBag.Title = "Registros de control diabético";
}

@if (TempData["PostMessage"] != null)
{
    <div id="PopUpPostMessage" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Seguimiento de su dieta</h4>
                </div>
                <div class="modal-body">
                    @TempData["PostMessage"]
                </div>
            </div>
        </div>
    </div>
}


<h2>Registros de Control Diabético</h2>

<p>
    @Html.ActionLink("Registrar control", "Create")
</p>
<p>
    @Html.ActionLink("Registrar toma de insulina retardada", "Create", "regMedicacion"@*, new { ad = "insulina_retardada" }, null*@)
</p>

<table class="table">
    <tr>
        <th>
            @Html.Label("Fecha y hora")
        </th>
        <th>
            @Html.Label("Valor de glicemia")
        </th>
        <th>
            @Html.Label("Comida")
        </th>
        <th>
            @Html.Label("Carbohidratos de la comida")
        </th>
        <th>
            @Html.Label("Insulina de corrección")
        </th>
        <th>
            @Html.Label("Insulina retardada")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @item.RegistroFchHora.ToString("dd MMM yyyy - HH:mm")
            </td>
            <td>
                @if (item.Control != null)
                {
                    <text>@item.Control.ControlValor</text>
                }
                else
                {
                    <text>-</text>
                }
            </td>
            <td>
                @if (item.Comida != null)
                {
                    <text>@item.Comida.ComidaPlatillo</text>
                }
                else
                {
                    <text>-</text>
                }
            </td>
            <td>
                @if (item.Comida != null)
                {
                    <text>@item.Comida.ComidaCarbohidratos</text>
                }
                else
                {
                    <text>-</text>
                }
            </td>            
            <td>
                @if (item.Medicacion != null && item.Medicacion.Medicina.MedicinaTipo == "Activa")
                {
                    <text>@item.Medicacion.Medicina.MedicinaNombre - @item.Medicacion.MedicacionCantidad - @item.Medicacion.Presentacion.PresentacionNombre</text>
                }
                else
                {
                    <text>-</text>
                }
            </td>
            <td>
                @if (item.Medicacion != null && item.Medicacion.Medicina.MedicinaTipo == "Pasiva")
                {
                    <text>@item.Medicacion.Medicina.MedicinaNombre - @item.Medicacion.MedicacionCantidad - @item.Medicacion.Presentacion.PresentacionNombre</text>
                }
                else
                {
                    <text>-</text>
                }
            </td>
            <td>        
                @if (item.Control != null)
                {
                    @Html.ActionLink("Ver", "Details", new { id = item.RegistroId }) <text>|</text>
                    @Html.ActionLink("Editar", "Edit", new { id = item.RegistroId }) <text>|</text>
                    <a href="#" onclick="abrirModalCDDelete(@item.RegistroId)">Eliminar</a>
                }
                else
                {
                    @Html.ActionLink("Ver", "Details", "regMedicacion", new { id = item.RegistroId }, null) <text>|</text>
                    @Html.ActionLink("Editar", "Edit", "regMedicacion", new { id = item.RegistroId }, null) <text>|</text>
                    <a href="#" onclick="abrirModalIRDelete(@item.RegistroId)">Eliminar</a>
                }
            </td>
        </tr>
    }
</table>



<!-- Modal -->
<div class="modal fade" id="PopUpConfirmationCDDeleteMsg" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">¡Atención!</h4>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas eliminar este registro de control diabetico?</p>
            </div>
            <div class="modal-footer">
                <button onclick="confCDDel()" type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                <button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
    <span id="idReg"></span>
</div>

<!-- Modal -->
<div class="modal fade" id="PopUpConfirmationIRDeleteMsg" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">¡Atención!</h4>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas eliminar este registro de insulina retardada?</p>
            </div>
            <div class="modal-footer">
                <button onclick="confIRDel()" type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                <button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
    <span id="idReg"></span>
</div>

@section scripts{
    <script>
        $('#PopUpPostMessage').modal({
            show: 'true'
        });


        function abrirModalCDDelete(idReg) {
            $('#PopUpConfirmationCDDeleteMsg').modal({
                show: 'true'
            });
            $("#idReg").text(idReg);
        }

        function confCDDel() {
            location.href = "/registros/control_diabetico/eliminar?id=" + $("#idReg").text();
        }


        function abrirModalIRDelete(idReg) {
            $('#PopUpConfirmationIRDeleteMsg').modal({
                show: 'true'
            });
            $("#idReg").text(idReg);
        }

        function confIRDel() {
            location.href = "/registros/medicacion/eliminar?id=" + $("#idReg").text();
        }
    </script>
}
