@model IEnumerable<ModelCL.Registro>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Registrar control", "Create")
</p>
<p>
    @Html.ActionLink("Registrar toma de insulina retardada", "Create", "regMedicacion"@*, new { ad = "insulina_retardada" }, null*@)
</p>

<table class="table">
    <tr>
        <th>
            @Html.Label("Fecha y hora")
        </th>
        <th>
            @Html.Label("Valor de glicemia")
        </th>
        <th>
            @Html.Label("Comida")
        </th>
        <th>
            @Html.Label("Carbohidratos de la comida")
        </th>
        <th>
            @Html.Label("Insulina de corrección")
        </th>
        <th>
            @Html.Label("Insulina retardada")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @item.RegistroFchHora.ToString("dd MMM yyyy - HH:mm")
            </td>
            <td>
                @if (item.Control != null)
                {
                    <text>@item.Control.ControlValor</text>
                }
                else
                {
                    <text>-</text>
                }
            </td>
            <td>
                @if (item.Comida != null)
                {
                    <text>@item.Comida.ComidaPlatillo</text>
                }
                else
                {
                    <text>-</text>
                }
            </td>
            <td>
                @if (item.Comida != null)
                {
                    <text>@item.Comida.ComidaCarbohidratos</text>
                }
                else
                {
                    <text>-</text>
                }
            </td>            
            <td>
                @if (item.Medicacion != null && item.Medicacion.Medicina.MedicinaTipo == "Activa")
                {
                    <text>@item.Medicacion.Medicina.MedicinaNombre - @item.Medicacion.MedicacionCantidad - @item.Medicacion.Presentacion.PresentacionNombre</text>
                }
                else
                {
                    <text>-</text>
                }
            </td>
            <td>
                @if (item.Medicacion != null && item.Medicacion.Medicina.MedicinaTipo == "Pasiva")
                {
                    <text>@item.Medicacion.Medicina.MedicinaNombre - @item.Medicacion.MedicacionCantidad - @item.Medicacion.Presentacion.PresentacionNombre</text>
                }
                else
                {
                    <text>-</text>
                }
            </td>
            <td>        
                @if (item.Control != null)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.RegistroId }) <text>|</text>
                    @Html.ActionLink("Details", "Details", new { id = item.RegistroId }) <text>|</text>
                    @Html.ActionLink("Delete", "Delete", new { id = item.RegistroId })
                }
                else
                {
                    @Html.ActionLink("Edit", "Edit", "regMedicacion", new { id = item.RegistroId }, null) <text>|</text>
                    @Html.ActionLink("Details", "Details", "regMedicacion", new { id = item.RegistroId }, null) <text>|</text>
                    @Html.ActionLink("Delete", "Delete", "regMedicacion", new { id = item.RegistroId }, null)
                }
            </td>
        </tr>
    }
</table>
