@model IEnumerable<ModelCL.Tema>

@{
    ViewBag.Title = "Tema";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">

            <table class="table">
                <tr>
                    <th>
                        Nombre del Tema
                    </th>
                    <th>
                        Descripcion del Tema
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TemaNombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TemaDescripcion)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.TemaId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.TemaId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.TemaId })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
