@model ModelCL.Contenido

@{
    ViewBag.Title = "Ejercicio | Ver";
}

<h2>Ver Ejercicio</h2>

<div>
    <h4>Ejercicio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Nombre")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContenidoTitulo)
        </dd>

        <dt>
            @Html.Label("Descripción")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContenidoDescripcion)
        </dd>

        <dt>
            @Html.Label("Contenido")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContenidoCuerpo)
        </dd>

        <dt>
            @Html.Label("Tipo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ejercicio.EjercicioTipo)
        </dd>

        <dt>
            @Html.Label("Categoría")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ejercicio.EjercicioCategoria)
        </dd>

        @foreach (var item in Model.Multimedia.OrderBy(m => m.MultimediaOrden))
        {
            @*<dt>
                @Html.Label("Imagen", htmlAttributes: new { @class = "control-label col-md-2" })
            </dt>*@

            <dd>
                <img src="http://localhost:4181/@Html.DisplayFor(modelItem => item.MultimediaUrl)" height="70" width="70" alt="Imagen no encontrada" />
            </dd>
        }
        
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ContenidoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<div id="comentarios">
    @Html.Action("_Index", "Comentarios", new { idContenido = Model.ContenidoId })
</div>

<div id="crear_comentario">
    @if (Request.Cookies[FormsAuthentication.FormsCookieName] != null)
    {

        @Html.Action("_Create", "Comentarios", new { idContenido = Model.ContenidoId })

    }
    else
    {
        <a href="/login">Inicia sesión para comentar</a>
    }
</div>
