@model ModelCL.Enfermedad

@{
    ViewBag.Title = "Eliminar Enfermedad";
}


<h3>¿Está seguro de que desea eliminar esta enfermedad?</h3>
<div>
    <h4>Enfermedad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EnfermedadNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnfermedadNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnfermedadDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnfermedadDesc)
        </dd>

        <dt>
            @Html.Label("Valores")
        </dt>

        <dd>
            <ul>
                @foreach (var item in Model.Valor.OrderBy(m => m.ValorNombre))
                {
                    <li>@Html.DisplayFor(modelItem => item.ValorNombre)</li>
                }
            </ul>
        </dd>

        <dt>
            @Html.Label("Medicinas")
        </dt>

        <dd>
            <ul>
                @foreach (var item in Model.Medicina.OrderBy(m => m.MedicinaNombre))
                {
                    <li>@Html.DisplayFor(modelItem => item.MedicinaNombre)</li>
                }
            </ul>
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver al listado", "Index")
        </div>
    }
</div>
