@model ModelCL.Enfermedad

@{
    ViewBag.Title = "Ver Enfermedad";
}


<div>
    <h4>Enfermedad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Nombre")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnfermedadNombre)
        </dd>

        <dt>
            @Html.Label("Descripción")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnfermedadDesc)
        </dd>

        <dt>
            @Html.Label("Valores")
        </dt>

        <dd>
            <ul>
                @foreach (var item in Model.Valor.OrderBy(m => m.ValorNombre))
                {
                    <li>@Html.DisplayFor(modelItem => item.ValorNombre)</li>
                }
            </ul>
        </dd>

        <dt>
            @Html.Label("Medicinas")
        </dt>

        <dd>
            <ul>
                @foreach (var item in Model.Medicina.OrderBy(m => m.MedicinaNombre))
                {
                    <li>@Html.DisplayFor(modelItem => item.MedicinaNombre)</li>
                }
            </ul>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.EnfermedadId }) |
    @Html.ActionLink("Volver al listado", "Index")
</p>
