@model ModelCL.Medicina

@{
    ViewBag.Title = "Eliminar Medicina";
}


<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Medicina</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MedicinaNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicinaNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicinaTipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicinaTipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicinaDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicinaDesc)
        </dd>

        <dt>
            @Html.Label("Enfermedades asociadas")
        </dt>

        <dd>
            <ul>
                @foreach (var item in Model.Enfermedad.OrderBy(e => e.EnfermedadNombre))
                {
                    <li>@Html.DisplayFor(modelItem => item.EnfermedadNombre)</li>
                }
            </ul>
        </dd>

        <dt>
            @Html.Label("Valores/Dosis")
        </dt>

        <dd>
            <ul>
                @foreach (var item in Model.RelMedVal.OrderBy(m => m.Valor.ValorNombre))
                {
                    <li>
                        @Html.DisplayFor(modelItem => item.Valor.ValorNombre)

                        <table class="table">
                            <tr>
                                <th>
                                    @Html.Label("Presentación")
                                </th>
                                <th>
                                    @Html.Label("Cantidad mínima")
                                </th>
                                <th>
                                    @Html.Label("Efecto")
                                </th>
                            </tr>

                            @foreach (var d in item.Dosis)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => d.Presentacion.PresentacionNombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => d.DosisCantidadMin)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => d.DosisEfecto)
                                    </td>
                                </tr>
                            }
                        </table>
                    </li>
                }
            </ul>
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver al listado", "Index")
        </div>
    }
</div>
