@model IEnumerable<ModelCL.Medicina>

@{
    ViewBag.Title = "Medicinas";
}

<p>
    @Html.ActionLink("Crear", "Create")
</p>
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">

            <table class="table">
                <tr>
                    <th>
                        Nombre de Medicina
                    </th>
                    <th>
                        Tipo de Medicina
                    </th>
                    <th>
                        Descripción Medicina
                    </th>
                    <th>
                        Cantidad de enfermedades asociadas
                    </th>
                    <th>
                        Cantidad de valores asociados (y dosis)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.MedicinaNombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MedicinaTipo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MedicinaDesc)
                        </td>
                        <td>
                            @item.Enfermedad.Count().ToString()
                        </td>
                        <td>
                            @{ int cantDosis = 0; }
                            @foreach (var rmv in item.RelMedVal) { cantDosis = cantDosis + rmv.Dosis.Count(); }

                            @item.RelMedVal.Count().ToString() (@cantDosis Dosis)
                        </td>
                        <td>
                            @Html.ActionLink("Ver", "Details", new { id = item.MedicinaId }) |
                            @Html.ActionLink("Editar", "Edit", new { id = item.MedicinaId }) |                            
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.MedicinaId })
                        </td>
                    </tr>
                                }

            </table>
        </div>
    </div>
</div>
