@model List<Lucy.Models.ComidaAlimentoViewModel>

<table class="table table-hover table-striped">
    <tr class="dl-horizontal">
        <th>
            Alimento
        </th>
        <th>
            Porcion
        </th>
        <th>
            Calorias
        </th>
        <th>
            Carbohidratos
        </th>
        <th>
            Azucar
        </th>
        <th>
            Grasa
        </th>
        <th>
            Sodio
        </th>
        <th>
            Gluten
        </th>
        <th>
            Cantidad
        </th>
    </tr>
        
@for(int i = 0; i < Model.Count; i++)
{
@Html.HiddenFor(model => model[i].AlimentoId)
    <tr>
        <td>
            @Html.HiddenFor(model => model[i].AlimentoNombre)
            @Html.DisplayFor(model => model[i].AlimentoNombre)
        </td>
        <td>
            @Html.HiddenFor(model => model[i].AlimentoPorcion)
            @Html.DisplayFor(model => model[i].AlimentoPorcion)
        </td>

        <td class="cal">
            @Html.HiddenFor(model => model[i].AlimentoCalorias)
            @Html.DisplayFor(model => model[i].AlimentoCalorias)
        </td>

        <td class="car">
            @Html.HiddenFor(model => model[i].AlimentoCarbohidratos)
            @Html.DisplayFor(model => model[i].AlimentoCarbohidratos)
        </td>

        <td class="azucar">
            @Html.HiddenFor(model => model[i].AlimentoAzucar)
            @Html.DisplayFor(model => model[i].AlimentoAzucar)
        </td>

        <td class="grasa">
            @Html.HiddenFor(model => model[i].AlimentoGrasa)
            @Html.DisplayFor(model => model[i].AlimentoGrasa)
        </td>

        <td class="sodio">
            @Html.HiddenFor(model => model[i].AlimentoSodio)
            @Html.DisplayFor(model => model[i].AlimentoSodio)
        </td>
        <td>
            @if (Model[i].AlimentoGluten == true)
            {
                <span class="gluten">Si</span>
            }
            else
            {
                if (Model[i].AlimentoGluten == false)
                {
                    <span class="gluten">No</span>
                }
                else
                {
                    <span class="gluten">Sin asignar</span>
                }
            }
        </td>
        <td>
            <div class="form-group">
                <div class="col-md-10" onkeyup="aComerla()">
                    @Html.EditorFor(model => model[i].RelComAliCantidad, new { htmlAttributes = new { @class = "form-control cant" } })
                    @Html.ValidationMessageFor(model => model[i].RelComAliCantidad, "", new { @class = "text-danger" })
                </div>
            </div>
        </td>
    </tr>
}
</table>