@model ModelCL.Contenido

@{
    ViewBag.Title = "Dieta | Ver";
}

<h2>Ver Dieta</h2>

<div>
    <h4>Dieta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Título")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContenidoTitulo)
        </dd>

        <dt>
            @Html.Label("Descripción")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContenidoDescripcion)
        </dd>

        <dt>
            @Html.Label("Cuerpo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContenidoCuerpo)
        </dd>

        <dt>
            @Html.Label("Calorías en el desayuno")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dieta.DietaDesayunoCalorias)
        </dd>

        <dt>
            @Html.Label("Descripción del desayuno")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dieta.DietaDesayunoDescripcion)
        </dd>


        <dt>
            @Html.Label("Calorías en el almuerzo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dieta.DietaAlmuerzoCalorias)
        </dd>

        <dt>
            @Html.Label("Descripción del almuerzo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dieta.DietaAlmuerzoDescripcion)
        </dd>


        <dt>
           @Html.Label("Calorías en la merienda")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dieta.DietaMeriendaCalorias)
        </dd>

        <dt>
            @Html.Label("Descripción de la merienda")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dieta.DietaMeriendaDescripcion)
        </dd>


        <dt>
            @Html.Label("Calorías en la cena")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dieta.DietaCenaCalorias)
        </dd>

        <dt>
            @Html.Label("Descripcion de la cena")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dieta.DietaCenaDescripcion)
        </dd>


        <dt>
            @Html.Label("Calorías en las ingestas")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dieta.DietaIngestasCalorias)
        </dd>

        <dt>
            @Html.Label("Descripción de las ingestas")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dieta.DietaIngestasDescripcion)
        </dd>


        <dt>
            @Html.Label("Imágen", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            <img src="/@Html.DisplayFor(model => model.Multimedia.First().MultimediaUrl)" height="70" width="70" alt="Imágen no encontrada" />
        </dd>        
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ContenidoId }) |
    @Html.ActionLink("Volver al listado", "Index")
</p>

<div id="comentarios">
    @Html.Action("_Index", "Comentarios", new { idContenido = Model.ContenidoId })
</div>

<div id="crear_comentario">
    @if (Request.Cookies[FormsAuthentication.FormsCookieName] != null)
    {

        @Html.Action("_Create", "Comentarios", new { idContenido = Model.ContenidoId })

    }
    else
    {
        <a href="/login">Inicia sesión para comentar</a>
    }
</div>