@model ModelCL.Contenido

@{
    ViewBag.Title = "Dieta | Ver";
    var i = 0;
}

<div class="publicidadTop"><small>Publicidad</small></div>

<div class="row" style="margin-bottom: 30px;">
    <p>
        @Html.ActionLink("Volver al listado", "Index")
    </p>
        
    <div class="col-sm-6 col-sm-offset-3">
        <div class="row">
            <div class="col-sm-12">

                @if (Model.Dieta.Persona.Where(d => d.PersonaId == ViewBag.idPer).FirstOrDefault() != null)
                {
                    <a href="/dietas/abandonarDieta" class="btn btn-info" role="button" style="position: absolute;right: 10px;top: -20px;font-weight: 400;font-size: 12px;">Abandonar dieta</a>
                }
                else
                {
                    <a href="/dietas/comenzarDieta?idDieta=@Model.Dieta.DietaId" class="btn btn-default" role="button" style="position: absolute;right: 10px;top: -20px;font-weight: 400;font-size: 12px;">Seguir dieta</a>
                }

                <h3 style="float: left; margin-right: 5px">@Html.DisplayFor(model => model.ContenidoTitulo)</h3>
                @if (ViewBag.idUsu != null && Model.UsuarioAutor != null && ViewBag.idUsu == Model.UsuarioAutor.UsuarioId)
                {
                    <span style="float: left; margin: 27px 0 10px;">
                        @Html.ActionLink("Editar", "Edit", new { id = Model.ContenidoId }) |
                    </span>
                    <span style="float: left; margin: 27px 0 10px 5px;">
                        <a href="#" onclick="abrirModalDelete(@Model.ContenidoId)">Eliminar</a>
                    </span>
                }
            </div>
        </div>

        <small>@Model.ContenidoCantVisitas visitas</small>
        
        <br /><br />

        <p>@Model.ContenidoDescripcion</p>
        <br />

        <h4>Desayuno <small>@Model.Dieta.DietaDesayunoCalorias cal.</small></h4>
        @Html.Raw(Model.Dieta.DietaDesayunoDescripcion.Replace(Environment.NewLine, "<br/>"))
        <br /><br />

        <h4>Almuerzo <small>@Model.Dieta.DietaAlmuerzoCalorias cal.</small></h4>
        @Html.Raw(Model.Dieta.DietaAlmuerzoDescripcion.Replace(Environment.NewLine, "<br/>"))
        <br /><br />

        <h4>Merienda <small>@Model.Dieta.DietaMeriendaCalorias cal.</small></h4>
        @Html.Raw(Model.Dieta.DietaMeriendaDescripcion.Replace(Environment.NewLine, "<br/>"))
        <br /><br />

        <h4>Cena <small>@Model.Dieta.DietaCenaCalorias cal.</small></h4>
        @Html.Raw(Model.Dieta.DietaCenaDescripcion.Replace(Environment.NewLine, "<br/>"))
        <br /><br />

        <h4>Ingesta <small>@Model.Dieta.DietaIngestasCalorias cal.</small></h4>
        @Html.Raw(Model.Dieta.DietaIngestasDescripcion.Replace(Environment.NewLine, "<br/>"))
        <br />
    </div>
</div>

@*Comentario*@
<div id="comentarios">
    @Html.Action("_Index", "Comentarios", new { idContenido = Model.ContenidoId })
</div>

<div id="crear_comentario">
    @if (Request.Cookies[FormsAuthentication.FormsCookieName] != null)
    {

        @Html.Action("_Create", "Comentarios", new { idContenido = Model.ContenidoId })

    }
    else
    {
        <a href="/login">Inicia sesión para comentar</a>
    }
</div>



<!-- Modal -->
<div class="modal fade" id="PopUpConfirmationDeleteMsg" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">¡Atención!</h4>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas eliminar esta dieta?</p>
            </div>
            <div class="modal-footer">
                <button onclick="confDel()" type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                <button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
    <span id="idCont"></span>
</div>

@section scripts{
    <script>
        function abrirModalDelete(idCont) {
            $('#PopUpConfirmationDeleteMsg').modal({
                show: 'true'
            });
            $("#idCont").text(idCont);
        }

        function confDel() {
            location.href = "/dietas/eliminar?id=" + $("#idCont").text();
        }
    </script>
}