@model IEnumerable<ModelCL.Contenido>

@{
    ViewBag.Title = "Dietas";
    var favId = "";
}

@section subnav{

    <div id="subTopNav" style="background-image:url(/Resources/Oficial/bannerDieta.jpg);">
        <div class="container body-content">
            <h3>Dieta</h3>
        </div>
    </div>

}

<p>
    @Html.ActionLink("Crear nueva dieta", "Create")
</p>

<div class="col-sm-8 col-sm-offset-2">
    @foreach (var item in Model)
    {
        <div class="MLitem" style="cursor: pointer;" onclick="location.href = '/dietas/ver?id=@item.ContenidoId';">
            <div class="MLitemLeft col-lg-9 col-md-8 col-sm-7 col-xs-12">
                <div class="MLitemTitulo col-sm-12">@item.ContenidoTitulo</div>
                <div class="MLitemCont hidden-xs col-sm-12">@item.ContenidoDescripcion</div>
            </div>

            @{ favId = "fav" + item.ContenidoId; }

            <div class="MLitemRight col-lg-3 col-md-4 col-sm-5 hidden-xs" style="margin: 30px 0;">
                <div>
                    <div class="col-sm-12" title="Desayuno">Desayuno @item.Dieta.DietaDesayunoCalorias cal.</div>
                    <div class="col-sm-12" title="Almuerzo">Almuerzo @item.Dieta.DietaAlmuerzoCalorias cal.</div>
                    <div class="col-sm-12" title="Merienda">Merienda @item.Dieta.DietaMeriendaCalorias cal.</div>
                    <div class="col-sm-12" title="Cena">Cena @item.Dieta.DietaMeriendaCalorias cal.</div>
                    <div class="col-sm-12" title="Ingesta">Ingesta @item.Dieta.DietaIngestasCalorias cal.</div>
                </div>
            </div>
        </div>
    }
</div>
