@model IEnumerable<ModelCL.Contenido>

@{
    ViewBag.Title = "Dietas";
}

<h2>Dietas</h2>

<p>
    @Html.ActionLink("Crear nueva dieta", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Título")
        </th>
        <th>
            @Html.Label("Descripción")
        </th>
        <th>
            @Html.Label("Calorías del desayuno")
        </th>
        <th>
            @Html.Label("Calorías del almuerzo")
        </th>
        <th>
            @Html.Label("Calorías de la merienda")
        </th>
        <th>
            @Html.Label("Calorías de la cena")
        </th>
        <th>
            @Html.Label("Calorías de las ingestas")
        </th>
        <th>
            @Html.Label("Imagen")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ContenidoTitulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContenidoDescripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dieta.DietaDesayunoCalorias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dieta.DietaAlmuerzoCalorias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dieta.DietaMeriendaCalorias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dieta.DietaCenaCalorias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dieta.DietaIngestasCalorias)
        </td>
        <td>
            <img src="/@Html.DisplayFor(modelItem => item.Multimedia.Where(m => m.MultimediaOrden == 1).FirstOrDefault().MultimediaUrl)" height="70" width="70" alt="Imagen no encontrada" />
        </td>
        <td>
            @Html.ActionLink("Ver", "Details", new { id = item.ContenidoId }) |
            @Html.ActionLink("Editar", "Edit", new { id=item.ContenidoId }) |            
            @Html.ActionLink("Eliminar", "Delete", new { id=item.ContenidoId })
        </td>
    </tr>
}

</table>
