@model IEnumerable<ModelCL.Registro>

@{
    ViewBag.Title = "Registros de peso";
}

<h2>Registros de Peso</h2>

<p>
    @Html.ActionLink("Nuevo registro", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Fecha")
        </th>
        <th>
            @Html.Label("Valor (Kg)")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.RegistroFchHora.ToString("dd MMM yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Peso.PesoValor)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.RegistroId }) |
            <a href="#" onclick="abrirModalDelete(@item.RegistroId)">Eliminar</a>
        </td>
    </tr>
}

</table>



<!-- Modal -->
<div class="modal fade" id="PopUpConfirmationDeleteMsg" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">¡Atención!</h4>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas eliminar este registro de peso?</p>
            </div>
            <div class="modal-footer">
                <button onclick="confDel()" type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                <button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
    <span id="idReg"></span>
</div>

@section scripts{
    <script>
        function abrirModalDelete(idReg) {
            $('#PopUpConfirmationDeleteMsg').modal({
                show: 'true'
            });
            $("#idReg").text(idReg);
        }

        function confDel() {
            location.href = "/registros/peso/eliminar?id=" + $("#idReg").text();
        }
    </script>
}
