@model IEnumerable<ModelCL.Registro>

@{
    ViewBag.Title = "Peso";
}

<h2>Registro de Peso</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Fecha")
        </th>
        <th>
            @Html.Label("Valor (Kg)")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.RegistroFchHora.ToString("dd MMM yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Peso.PesoValor)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RegistroId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.RegistroId })
        </td>
    </tr>
}

</table>
