@{
    ViewBag.Title = "Medicina | Nueva";
}

<h2>Nuevo registro</h2>

<div class="form-horizontal">
    <h4>Medicina</h4>
    <hr />
    <div class="col-sm-12">
        <div class="form-group">
            <div class="form-group">
                <label class="control-label col-md-2">Enfermedad</label>
                <div class="col-md-10">
                    @Html.DropDownList("Enfermedades", ViewBag.lEnfermedades as SelectList, new { @class = "form-control" })
                </div>
            </div>
            <hr style="border-top: 3px double #000000;">
            <br />

            <div id="RegMed">

            </div>
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Volver al listado", "Index")
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")

    <script type="text/javascript">

        window.onload = function cargar(){
            var selectedID = $('#Enfermedades').val();

            $.get('/registros/medicacion/_crear/' + '?idEnf=' + selectedID, function (data) {

                $('#RegMed').html(data);
                $('#RegMed').fadeIn('fast');
                
                $('form').removeData('validator');
                $('form').removeData('unobtrusiveValidation');
                $('form').attr('novalidate');
                $.validator.unobtrusive.parse('form');
                
            });
        }
        
        $('#Enfermedades').change(function() {

            var selectedID = $(this).val();

            if (selectedID == ""){
                selectedID = 0;
            }

            $.get('/registros/medicacion/_crear/' + '?idEnf='+ selectedID, function (data) {

                $('#RegMed').html(data);
                $('#RegMed').fadeIn('fast');

                $('form').removeData('validator');
                $('form').removeData('unobtrusiveValidation');
                $.validator.unobtrusive.parse('form');
            });

        });        
    </script>
}

@section style {
    @Styles.Render("~/Content/bootstrap-datetimepicker")
}