@model ModelCL.Registro

@{
    ViewBag.Title = "Medicina | Eliminar";
}

<h2>Eliminar registro</h2>

<h3>¿Esta seguro/a de que desea eliminar este registro de medicación?</h3>
<div>
    <h4>Medicina</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Persona")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona.nombreCompleto)
        </dd>

        <dt>
            @Html.Label("Fecha y hora")
        </dt>

        <dd>
            @item.RegistroFchHora.ToString("dd MMM yyyy - HH:mm")
        </dd>

        <dt>
            @Html.Label("Enfermedad")
        </dt>

        <dd>
            @if (Model.Medicacion.EnfermedadId == null)
            {
                <text>-</text>
            }
            else
            {
                @Html.DisplayFor(model => model.Medicacion.Enfermedad.EnfermedadNombre)
            }
        </dd> 
        
        <dt>
            @Html.Label("Medicina")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicacion.Medicina.MedicinaNombre)
        </dd>

        <dt>
            @Html.Label("Presentación de la medicina")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicacion.Presentacion.PresentacionNombre)
        </dd>

        <dt>
            @Html.Label("Cantidad")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicacion.MedicacionCantidad)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
