@model ModelCL.Registro

@{
    ViewBag.Title = "Medicina | Información";
}

<h2>Información del registro</h2>


<div>
    <h4>Medicina</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Persona")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona.nombreCompleto)
        </dd>

        <dt>
            @Html.Label("Fecha y hora")
        </dt>

        <dd>
            @Model.RegistroFchHora.ToString("dd MMM yyyy - HH:mm")
        </dd>

        <dt>
            @Html.Label("Enfermedad")
        </dt>

        <dd>
            @if (Model.Medicacion.EnfermedadId == null)
            {
                <text>-</text>
            }
            else
            {
                @Html.DisplayFor(model => model.Medicacion.Enfermedad.EnfermedadNombre)
            }
        </dd>       

        <dt>
            @Html.Label("Medicina")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicacion.Medicina.MedicinaNombre)
        </dd>

        <dt>
            @Html.Label("Presentación de la medicina")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicacion.Presentacion.PresentacionNombre)
        </dd>

        <dt>
            @Html.Label("Cantidad")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicacion.MedicacionCantidad)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RegistroId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
