@model IEnumerable<ModelCL.Registro>

@{
    ViewBag.Title = "Medicina";
}

<h2>Registro de Medicina</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Fecha y hora")
        </th>
        <th>
            @Html.Label("Enfermedad")
        </th>
        <th>
            @Html.Label("Medicina")
        </th>
        <th>
            @Html.Label("Presentación de la medicina")
        </th>
        <th>
            @Html.Label("Cantidad")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.RegistroFchHora.ToString("dd MMM yyyy - HH:mm")
        </td>
        @if (item.Medicacion.Enfermedad == null)
        {
            <td>
                <text>-</text>
            </td>            
        }
        else
        {
            <td>
                @Html.DisplayFor(modelItem => item.Medicacion.Enfermedad.EnfermedadNombre)
            </td>
        }        
        <td>
            @Html.DisplayFor(modelItem => item.Medicacion.Medicina.MedicinaNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Medicacion.Presentacion.PresentacionNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Medicacion.MedicacionCantidad)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RegistroId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.RegistroId })
        </td>
    </tr>
}

</table>
